<div class="ui grid row medium_padding">
    <div class="eight wide column">
      <h3 class="ui violet left aligned header"><i class="icon list ul"></i>TYPE DETAIL</h3>
    </div>
    <div class="eight wide column"> 
      <a class="ui button float-right" [routerLink]="['../']">
        <i class="icon caret left"></i>ALL TYPES
      </a>
    </div>
  </div>
<div class="ui row grid small_padding stackable" *ngIf="ctype !== null">
    <div class="eight wide column">
      <div class="ui top attached inverted secondary center aligned segment" 
      [ngClass]="ctype.is_public ? 'orange': 'blue'">
          <div class="">{{ctype.type}}</div>
      </div>
      <div class="ui three attached buttons">
        <a class="ui button" [routerLink]="['./delete']"><i class="icon trash alternate outline"></i>REMOVE</a>
        <a class="ui button" [routerLink]="['./edit']"><i class="icon edit outline"></i>EDIT</a>
        <a class="ui button" [routerLink]="['./add_attr']"><i class="icon plus square outline"></i>ATTR</a>
      </div>
      <div class="ui attached secondary segment" 
      *ngIf="ctype.description !== null && ctype.description !== undefined && ctype.description !== 'None'">
          <div class="">{{ctype.description}}</div>
      </div>
      <div class="ui attached segment">
        <div class="ui divided list">
          <!--minimal attrs-->
          <a class="item" *ngFor="let mattr of ctype_minimal_attrs" [routerLink]="['./', mattr.pk]">
              <div class="ui horizontal label" [ngClass]="mattr.attr_required ? 'red': 'teal'">
                {{mattr.attr_label.toUpperCase()}}
              </div>
              <span *ngIf="mattr.has_sub_attr" class="grey-text small-text">
                <span *ngFor="let msubattr of mattr.subattrs" 
                class="ui horizontal mini basic label" [ngClass]="msubattr.attr_required ? 'red': ''">
                  {{msubattr.attr_label.toUpperCase()}}
                </span>
              </span>
              <span>
                  <a [routerLink]="['./', mattr.pk]"><i class="icon sun outline float-right"></i></a>
              </span>  
            </a>
          <!--customized attrs-->
          <a class="item" *ngFor="let attr of ctype.attrs" [routerLink]="['./', attr.pk]">
              <a class="ui horizontal label" 
              [ngClass]="attr.attr_required ? 'red': 'teal'" 
              [routerLink]="['./', attr.pk]">
                {{attr.attr_label.toUpperCase()}}
              </a>
              <span *ngIf="attr.has_sub_attr" class="grey-text small-text">
                <span *ngFor="let subattr of attr.subattrs" 
                class="ui horizontal mini basic label" [ngClass]="subattr.attr_required ? 'red': ''">
                  {{subattr.attr_label.toUpperCase()}}
                </span>
              </span>
              <span>
                <a [routerLink]="['./', attr.pk]"><i class="icon sun outline float-right"></i></a>
              </span>              
          </a>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <router-outlet></router-outlet>
    </div>
</div>
<div class="ui tertiary segment container center aligned" 
    *ngIf="ctype === null">
  <p class="">fail to load the material type. please try again later.</p>
</div>