<div class="ui grid row">
  <div class="eight wide column">
    <app-container-boxes-filter *ngIf="!load_failed" [container]="container" (boxFilter)="updateBoxList($event)"></app-container-boxes-filter>
  </div>
  <div class="eight wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>

<div class="ui grid row small_padding" *ngIf="!load_failed">
  <div class="five wide column">
    <h3 class="ui violet left aligned header"><i class="icon table"></i>MY BOXES</h3>
  </div>
  <div class="five wide column">
    <div class="ui slider checkbox">
      <input type="checkbox" name="" id="show_all" (change)="toggleBoxShow()">
      <label for="show_all">
        <span *ngIf="show_all" class="teal-text">SHOW FAVOURITE</span>
        <span *ngIf="!show_all" class="teal-text">SHOW ALL</span>
      </label>
    </div>
  </div>
  <div class="six wide column"> 
    <a class="ui blue button float-right" [routerLink]="['/containers/overview/', id]"><i class="icon pie chart"></i>OVERVIEW</a>
    <a *ngIf="container.has_box" class="ui blue button float-right" [routerLink]="['/containers/search/']"><i class="icon search"></i>SEARCH</a>
    <a *ngIf="!container.has_box && allowUpload2Container && show_upload_button" 
      class="ui brown button float-right" 
      [routerLink]="['/containers/', id, 'upload']">
      <i class="icon colud upload"></i>IMPORT
    </a>
  </div>
  <!--  -->
</div>
<!--loading info-->
<div *ngIf="loading" class="ui loading segment center aligned">
    <br/><br/><br/><br/>
    <p class="brown-text">
        <span *ngIf="!show_all">loading favourite boxes ... </span>
      <span *ngIf="show_all">loading all the boxes of this container ..., this might take a very long time! We highly recommend you to add regularly visited boxes into favourites, instead of loading all the boxes.</span>
    </p>  
</div>
<!--after loading-->
<div class="ui row small_padding stackable" *ngIf="!loading && !load_failed">
  <div *ngIf="searchedBoxes.length > 0 && boxCardview(searchedBoxes.length)">
      <div class="ui link cards">
          <app-container-box-cardview *ngFor="let box of searchedBoxes" [box]="box" class="ui black raised card" (click)="displaySelectedBox(box)"></app-container-box-cardview>
        </div>
  </div>
  <div *ngIf="searchedBoxes.length > 0 && !boxCardview(searchedBoxes.length)">
    <div class="ui link cards">
        <app-container-box-fullnessview *ngFor="let box of searchedBoxes" [box]="box" class="ui black raised card" (click)="displaySelectedBox(box)"></app-container-box-fullnessview>
      </div>
</div>
</div>
<!--no record-->
<div *ngIf="!loading && !load_failed && myBoxes.length > 0 && (searchedBoxes == null || searchedBoxes.length == 0)" 
  class="ui segment container center aligned">
    <p class="">no favourite box found, you can click the "SHOW ALL" slider to show all boxes in the current container!</p>
</div>
<div *ngIf="!loading && !load_failed && (myBoxes == null || myBoxes.length == 0)" 
  class="ui tertiary segment container center aligned">
  <p class="">no box found!</p>
</div>

<!--failed  -->
<div *ngIf="!loading && load_failed" class="ui tertiary segment center aligned">
  <br/><br/><br/>
  <p><i class="ui massive warning sign icon brown"></i></p>
  <h3 class="ui brown header">Something went wrong, fail to load boxes from the server!</h3>
  <br/><br/><br/>
</div>