<div class="ui row">
    <!-- <div class="ui three attached buttons">
      <a class="ui button" [routerLink]="['../../1/delete']"><i class="icon trash alternate outline"></i>REMOVE</a>
      <a class="ui button" [routerLink]="['../../1/edit']"><i class="icon edit outline"></i>EDIT</a>
      <a class="ui button" [routerLink]="['./add_subattr']"><i class="icon plus square outline"></i>SUBATTR</a>
    </div> -->
  </div>
  <div class="ui row">
    <p>
      ctype-subattr-detail works!
    </p>
    <router-outlet></router-outlet>
  </div>
  