<input type="file" (change)="onFileChange($event)" multiple="false" />
<div class="ui divider"></div>

<div class="dropzone" appFileDrop 
(validFiles)="handleValidFileDrop($event)"
[allowedExtensions]="allowedFileExtension"
[allowedMultipleFiles]="allowedMultipleFiles" >
  <div class="text-wrapper">
    <div class="centered">Drop your file here!</div>
  </div>
</div>
<div class="ui divider"></div>
<button (click)="exportXlsx()">Export!</button>
<table class="sjs-table">
  <tr *ngFor="let row of data">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
</table>
