<input type="file" (change)="onFileChange($event)" multiple="false" />
<div class="ui divider"></div>
<div class="" (change)="onFileDrop($event)">
  <div class="text-wrapper">
    <div class="centered">Drop your file here!</div>
    <div class="centered">Drop your file here!</div>
    <div class="centered">https://scotch.io/@minrock/how-to-create-a-drag-and-drop-file-directive-in-angular2-with-angular-cli-part-2</div>
    
  </div>
</div>
<div class="ui divider"></div>
<button (click)="exportXlsx()">Export!</button>
<table class="sjs-table">
  <tr *ngFor="let row of data">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
</table>
