<div class="ui grid row medium_bottom">
  <div class="sixteen wide column">
    <div class="ui icon top attached info message">
      <i class="icon grid layout"></i>
      <div class="content">
        <div class="header">SAMPLE LABEL & BOX LAYOUT: HELP THE APPLICAIOTN TO RECOGNIZE THE SAMPLES IN YOUR BOXES</div>
        <p>Please help the application to find the samples for each boxes, so that the application knows where to put
          the samples in the box. The sample label following the pattern of "row-column" of the box is prefered.</p>
      </div>
    </div>
    <div class="ui raised mini attached segment left aligned">
      <div class="ui header blue">
        <i class="icon caret right"></i>HOW IS THE SAMPLE LABELD?</div>
    </div>
    <!-- box_defined_as_normal == true-->
    <div class="ui fluid vertical attached huge steps">
      <div class="step">
        <div class="ui top left attached teal label">STEP 1</div>
        <div class="content wide_content">
          <div class="ui form">
            <div class="grouped fields">
              <div class="field">
                <div class="ui slider checkbox">
                  <input id="sample_one_column" type="radio" name="define_sample_position" [attr.checked]="sampleLabelDefinition === 0 ? 'checked': null"
                    (change)="updateSampleLabelDefinition(0)">
                  <label for="sample_one_column">Sample labeled with "row" and "column" in one data column</label>
                </div>
              </div>
              <div class="field" [ngClass]="{'hidden': !bLabel.box_defined_as_normal && !bLabel.box_sample_separated }">
                <div class="ui slider checkbox">
                  <input id="sample_two_column" type="radio" name="define_sample_position" 
                    [attr.checked]="sampleLabelDefinition === 1 ? 'checked': null"
                    (change)="updateSampleLabelDefinition(1)">
                  <label for="sample_two_column">Sample labeled with "row" and "column" in 2 data columns</label>
                </div>
              </div>
              <div class="field">
                <div class="ui slider checkbox">
                  <input id="sample_increasing_number" type="radio" name="define_sample_position" [attr.checked]="sampleLabelDefinition === 2 ? 'checked': null"
                    (change)="updateSampleLabelDefinition(2)">
                  <label for="sample_increasing_number">Sample labeled with the increaing numbers in one data column</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step">
        <div class="ui top left attached teal label">STEP 2</div>
        <div class="content wide_content">
          <div class="ui form">
            <div class="five fields">
              <div class="field" [ngClass]="{'hidden': bLabel.box_defined_as_normal != false || bLabel.box_sample_separated != false }">
                <label for="box_label">box label</label>
                <select id="box_label" class="ui dropdown" [(ngModel)]="boxLabel" (ngModelChange)="updateBoxLabel($event)">
                  <option value="1">digits</option>
                  <option value="0">letter</option>
                </select>
              </div>
              <div class="field" [ngClass]="{'hidden': bLabel.box_defined_as_normal != false || bLabel.box_sample_separated != false }">
                <label for="sample_join">box and sample labels joined with</label>
                <select id="sample_join" class="ui dropdown" [(ngModel)]="boxJoin" (ngModelChange)="updateBoxJoin($event)">
                  <option value="-">-</option>
                  <option value="/">/</option>
                  <option value="~">~</option>
                  <option value=".">.</option>
                  <option value=";">;</option>
                  <option value="">nothing</option>
                </select>
              </div>
              <div class="field">
                <label for="sample_row">sample row</label>
                <select id="sample_row" class="ui dropdown" [(ngModel)]="sampleRow" (ngModelChange)="updateSampleRow($event)" [ngClass]="{'disabled': sampleLabelDefinition === 2 }">
                  <option value="1">digits</option>
                  <option value="0">letter</option>
                </select>
              </div>
              <div class="field">
                <label for="sample_join">sample label joined with</label>
                <select id="sample_join" class="ui dropdown" [(ngModel)]="sampleJoin" (ngModelChange)="updateSampleJoin($event)" [ngClass]="{'disabled': sampleLabelDefinition === 2 || sampleLabelDefinition === 1 }">
                  <option value="-">-</option>
                  <option value="/">/</option>
                  <option value="~">~</option>
                  <option value=".">.</option>
                  <option value=";">;</option>
                  <option value="">nothing</option>
                </select>
              </div>
              <div class="field">
                <label for="sample_column">sample column</label>
                <select id="sample_column" class="ui dropdown" [(ngModel)]="sampleColumn" (ngModelChange)="updateSampleColumn($event)" [ngClass]="{'disabled': sampleLabelDefinition === 2 }">
                  <option value="1">digits</option>
                  <option value="0">letter</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step">
        <div class="ui top left attached teal label">STEP 3</div>
        <div class="content">
          <div class="ui grid row">
            <div class="eight wide column">
              <div class="ui mini positive message">
                <!-- <i class="announcement icon"></i> -->
                <div class="content">
                  <div class="header">Define Box Layout</div>
                  <p>Please be aware of this: all the boxes in the same contaier will have the same layout!</p>
                </div>
              </div>
            </div>
            <div class="eight wide column">
              <div class="ui teal raised card">
                <div class="content small_vertial_padding">
                  <h3 class="tight_around">box layout (
                    <span>{{box_horizontal}}X{{vArray.length}}</span>)</h3>
                  <div class="description">
                    <div class="ui form tiny small_vertial_padding">
                      <div class="ui inline fields small_vertial_padding">
                        <div class="field">
                          <label>horizontal: </label>
                          <select name="horizontal" [(ngModel)]="box_horizontal" class="ui fluid dropdown" (ngModelChange)="updateLayout($event, 'horizontal')"
                            #horizontalCtl>
                            <option *ngFor="let option of genHorizontalOptions()" [ngValue]="option">{{option}}</option>
                          </select>
                        </div>
                        <div class="field">
                          <label>vertical: </label>
                          <select name="vertical" [(ngModel)]="box_vertical" class="ui fluid dropdown" (ngModelChange)="updateLayout($event, 'vertical')"
                            #verticalCtl>
                            <option *ngFor="let option of genVerticalOptions()" [ngValue]="option">{{option}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <table class="ui small unstackable celled single line fixed table">
                    <thead>
                      <tr>
                        <th class="nopadding"></th>
                        <th *ngFor="let h of hArray" class="left aligned nopadding">
                          <small class="">{{h}}</small>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let v of vArray">
                        <th class="center aligned nopadding">
                          <small class="">{{v}}</small>
                        </th>
                        <td class="center aligned sample-cell tight_around" *ngFor="let h of hArray">
                          <div class="fix_size_div">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui mini red tertiary segment attached">
      <div class="grey-text text-center">
        <p>
          your box label looks like this: 
          <span *ngIf="bLabel.box_defined_as_normal" class="red-text"><s>{{bLabel.prefix}}</s></span><strong class="red-text">{{genOneorA(bLabel.tower)}}{{bLabel.join}}{{genOneorA(bLabel.shelf)}}{{bLabel.join}}{{genOneorA(bLabel.box)}}</strong><span class="red-text"><s>{{bLabel.appendix}}</s></span>          
          <span *ngIf="!bLabel.box_defined_as_normal && bLabel.box_sample_separated">your box label doesn't follow the pattern of "tower-shelf-box" and is stored as a separated data column</span>
          <span *ngIf="!bLabel.box_defined_as_normal && !bLabel.box_sample_separated">your box label doesn't follow the pattern of "tower-shelf-box" and is integrated with sample label</span>;
          your sample label looks like this:
          <span class="violet-text" *ngIf="!bLabel.box_defined_as_normal && !bLabel.box_sample_separated"><strong>{{genOneorA(boxLabel)}}{{boxJoin}}</strong></span><strong class="red-text" *ngIf="sampleLabelDefinition !== 2">{{genOneorA(sampleRow)}}{{sampleJoin}}{{genOneorA(sampleColumn)}}</strong><strong class="red-text" *ngIf="sampleLabelDefinition === 2">1</strong>;
          your box layout looks like this: (<span class="red-text"><strong>{{box_horizontal}}X{{vArray.length}}</strong></span>);
        </p>
      </div>
    </div>
    <div class="ui two mini buttons bottom attached">
      <button class="ui button" (click)="backFirstStep()">
        <i class="icon caret left"></i> PREVIOUS </button>
      <button class="ui blue button" (click)="saveSecondStep()"> NEXT
        <i class="icon caret right"></i>
      </button>
    </div>
  </div>
</div>