<div class="ui grid small_padding stackable">
  <div class="four wide column">
    <h3 class="ui blue left aligned header"><i class="icon users"></i>GROUPS</h3>
  </div>
  <div class="ten wide column">
    <div class="ui slider checkbox" *ngIf="group_count > 0">
      <input type="checkbox" name="" id="table_view" (change)="toggleList()">
      <label for="table_view">
        <span *ngIf="tableView" class="">CARD OVERVIEW</span>
        <span *ngIf="!tableView" class="">LIST OVERVIEW</span>
      </label>
    </div>
  </div>
  <!-- new group -->
  <div class="two wide column">
    <a class="ui blue button float-right" [routerLink]="['./add']"><i class="icon add circle"></i>GROUP</a>
  </div>
  <!-- end new group -->
</div>
<div class="ui grid small_padding" *ngIf="group_count > 0">
  <!-- card view -->
    <div class="ui cards" *ngIf="!tableView">
      <!-- one card -->
      <div class="ui black raised card" *ngFor="let group of groups | async">
        <!-- group image -->
        <div class="image fix_image_height">                
            <img *ngIf="group.photo" src="{{appUrl + group.photo}}" class="ui medium rounded image">
        </div>
        <!-- end group image -->
        <!-- group info -->
        <div class="content">                                
          <div class="meta">
            <span class=""><i class="users icon"></i> {{'Group: '+group.group_name}}</span>
            <!-- manage group --> 
            <a class="" [routerLink]="['./edit', group.pk]">
              <i class="icon edit teal-text"></i>
            </a>
            <a class="" [routerLink]="['./delete', group.pk]" *ngIf="!((group.assistants && group.assistants.length>0) || (group.members && group.members.length>0))">
                <i class="icon remove circle red-text"></i>
            </a>
            <!-- end manage group --> 
            <br>
            <span class=""><i class="user icon"></i> {{'PI: '+group.pi_fullname}}</span><br>
            <span class=""><i class="mail icon"></i> {{'Email: '+group.email}}</span><br>
            <span *ngIf="group.telephone" class=""><i class="call icon"></i> {{'Phone: '+group.telephone}}</span><br *ngIf="group.telephone">
            <span *ngIf="group.department" class=""><i class="building icon"></i> {{'Dpart: '+group.department}}</span><br *ngIf="group.department">            
          </div>          
        </div>
        <!-- end group info -->  
        <!-- group assist --> 
        <div class="extra" *ngIf="group.assistants && group.assistants.length > 0">
          <h5 class="ui header meta">Group Assistants</h5>
          <div class="ui six cards" >
            <div class="ui teal raised card" *ngFor="let assist of group.assistants" suiPopup popupHeader="{{assist.user.first_name + assist.user.last_name}}" popupText="{{assist.user.username + ', ' + assist.user.email }}">
              <div class="ui avatar image">
                <img src="{{ appUrl + assist.user.profile.photo }}">
              </div>
            </div>         
          </div>
        </div>
        <!-- end group assist --> 
        <!-- group members --> 
        <div class="extra" *ngIf="group.members && group.members.length > 0">
          <h5 class="ui header meta">Group Members</h5>
          <div class="ui six cards">
            <div class="ui orange raised card" *ngFor="let member of group.members" suiPopup popupHeader="{{member.user.first_name + member.user.last_name}}" popupText="{{member.user.username + ', ' + member.user.email }}">
              <div class="ui avatar image">
                <img src="{{ appUrl + member.user.profile.photo }}">
              </div>
            </div>         
          </div>
        </div>
        <!--end group memebers --> 
      </div>
      <!-- end one card -->
    </div>
  <!-- end card view -->
  <!-- table view -->
  <div class="sixteen wide column" *ngIf="tableView">
    <table class="ui structured small blue single line compact padded table">
    <thead>
      <tr>
        <th colspan="4" class="center aligned">Groups</th>
        <th colspan="4" class="center aligned left-bordered">Assistants</th>
        <th colspan="4" class="center aligned left-bordered">Members</th>
      </tr>
      <tr>
        <th class="">Group</th>
        <th class="">PI</th>
        <th class="">Email</th>
        <th class="">Telephone</th>
        
        <th class="left-bordered">Name</th>
        <th class="">Role</th>
        <th class="">Email</th>
        <th class="">Telephone</th>

        <th class="left-bordered">Name</th>
        <th class="">Role</th>
        <th class="">Email</th>
        <th class="">Telephone</th>
      </tr>
    </thead>
    <tbody *ngFor="let group of groups | async" class="bordered">
      <tr *ngFor="let i of genArray(renderRowSpan(group))">
        <!-- group info -->
        <td *ngIf="i===1" [attr.rowspan]="renderRowSpan(group)"> 
          <h4 class="ui image header">
            <img src="{{appUrl + group.photo}}" class="ui mini rounded image">
            <div class="content">
              {{group.group_name}}
              <!-- manage group -->
              <a class="" [routerLink]="['./edit', group.pk]">
              <i class="icon edit teal-text"></i>
              </a>
              <a class="" [routerLink]="['./delete', group.pk]" *ngIf="!((group.assistants && group.assistants.length>0) || (group.members && group.members.length>0))">
                  <i class="icon remove circle red-text"></i>
              </a>
              <!-- end manage group -->
            <div class="sub header">{{group.department}}</div>
            </div>
          </h4>         
        </td>
        <td *ngIf="i===1" [attr.rowspan]="renderRowSpan(group)"><i class="user icon"></i>{{group.pi_fullname +'/'+ group.pi}}</td>
        <td *ngIf="i===1" [attr.rowspan]="renderRowSpan(group)"><i class="mail icon"></i>{{group.email}}</td>
        <td *ngIf="i===1" [attr.rowspan]="renderRowSpan(group)"><i *ngIf="group.telephone" class="call icon"></i>{{group.telephone}}</td>
        <!-- end group info -->
        <!-- assistants info -->
        <td class="left-bordered">          
          <h4 class="ui image header">
            <img *ngIf="group.assistants.length >= i && group.assistants[i-1].user.profile" src="{{appUrl + group.assistants[i-1].user.profile.photo}}" class="ui mini rounded image">
            <div class="content">
              {{group.assistants.length >= i ? group.assistants[i-1].user.first_name +' '+group.assistants[i-1].user.last_name: "" }}
            <div class="sub header">{{group.assistants.length >= i ? group.assistants[i-1].user.username: ""}}</div>
            </div>
          </h4>           
        </td>
        <td>
          <div *ngIf="group.assistants.length >= i">
            <span *ngFor="let r of group.assistants[i-1].user.roles" [ngClass]="{'red-text': r==='PI'}"><i class="flag icon"></i>{{r}}<br ></span>
          </div>
        </td>
        <td><i *ngIf="group.assistants.length >= i" class="mail icon"></i>{{group.assistants.length >= i ? group.assistants[i-1].user.email: ""}}</td>
        <td><i *ngIf="group.assistants.length >= i && group.assistants[i-1].user.profile && group.assistants[i-1].user.profile.telephone" class="call icon"></i>{{ group.assistants.length >= i && group.assistants[i-1].user.profile && group.assistants[i-1].user.profile.telephone ? group.assistants[i-1].user.profile.telephone: ""}}</td>
        <!--end assistants info -->
        <!-- member info -->
        <td class="left-bordered">          
          <h4 class="ui image header">
            <img *ngIf="group.members.length >= i && group.members[i-1].user.profile" src="{{appUrl + group.members[i-1].user.profile.photo}}" class="ui mini rounded image">
            <div class="content">
              {{group.members.length >= i ? group.members[i-1].user.first_name +' '+group.members[i-1].user.last_name: "" }}
            <div class="sub header">{{group.members.length >= i ? group.members[i-1].user.username: ""}}</div>
            </div>
          </h4>           
        </td>
        <td>
          <div *ngIf="group.members.length >= i">
            <span *ngFor="let r of group.members[i-1].user.roles" [ngClass]="{'red-text': r==='PI'}"><i class="flag icon"></i>{{r}}<br ></span>
          </div>          
        </td>
        <td><i *ngIf="group.members.length >= i" class="mail icon"></i>{{group.members.length >= i ? group.members[i-1].user.email: ""}}</td>
        <td><i *ngIf="group.members.length >= i && group.members[i-1].user.profile && group.members[i-1].user.profile.telephone" class="call icon"></i>{{ group.members.length >= i && group.members[i-1].user.profile ? group.members[i-1].user.profile.telephone: ""}}</td>
        <!-- member info -->
      </tr>
    </tbody>
  </table>
  </div>
<!-- end table view -->
</div>

<!--loading info-->
<div *ngIf="loading" class="ui loading segment center aligned">
    <br/><br/>
    <p class="brown-text">loading groups ... </p>
    <br/><br/>
</div>

<!--no record-->
<div *ngIf="!loading && !load_failed && (group_count === 0)" class="ui tertiary segment center aligned">
    <br/><br/>
    <p><i class="ui massive icon announcement teal-text"></i></p>
    <p class="teal-text">no group found!</p>
    <br/><br/>
</div>

<!--failed  -->
<div *ngIf="!loading && load_failed" class="ui tertiary segment center aligned">
    <br/><br/><br/>
    <p><i class="ui massive warning sign icon brown"></i></p>
    <h3 class="ui brown header">failed to load groups from the server!</h3>
    <br/><br/><br/>
</div>