<div class="ui stackable sixteen wide column grid">
  <div class="eight wide column">
    <table class="ui unstackable small striped compact teal table">
      <tbody>
        <tr *ngFor="let attr of ctype_attrs">
          <th>{{attr.attr_label}}</th>
          <td>
            <span *ngIf="attr.attr_name == 'name'">
              <span [style.color]="display_sample.color">{{ renderSampleName(display_sample[attr.attr_label]) }}</span>
              <span *ngIf="display_sample.type" class="ui mini circular label">{{ display_sample.type | slice:0:3 }}</span>
            </span>
            <span *ngIf="attr.attr_name == 'storage_date'">{{display_sample[attr.attr_label] | date: 'yyyy-MM-dd'}}</span>
            <span *ngIf="attr.attr_name != 'storage_date' && attr.attr_name != 'name'">{{display_sample[attr.attr_label]}}</span>
          </td>
        </tr>
        <tr>
          <th>ATTACHMENTS</th>
          <td>
            <div *ngIf="display_sample.ATTACHMENTS != null && display_sample.ATTACHMENTS.length > 0">
              <p class="nopadding no_margin" *ngFor="let attachment of display_sample.ATTACHMENTS">
                <a target="_blank" href="{{appUrl + attachment.attachment}}">
                  {{attachment.label != null ? attachment.label : null}}
                </a>
              </p>
            </div>  
          </td>
        </tr>
        <tr>
          <th>RESEARCHER</th>
          <td class="">
            <div *ngIf="display_sample.researchers != null && display_sample.researchers.length > 0">
                <span class="nopadding no_margin" *ngFor="let researcher of display_sample.researchers">
                  {{(researcher.first_name != null 
                    ? (researcher.first_name.toUpperCase() | slice:0:1) 
                    : '') 
                    +
                    (researcher.last_name != null 
                    ? (researcher.last_name.toUpperCase() + '' | slice:0:1)
                    : '')}}
                </span>
            </div> 
          </td> 
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngFor="let sd of subattr_data" class="eight wide column">
      <table class="ui unstackable small striped compact grey table">
          <thead>
            <tr class="center aligned warning">
              <th class="tight_around" [attr.colspan]="sd.length">
                {{sd[0].sub_attr.parent_attr.toUpperCase()}}
              </th>
            </tr>
          </thead>
          <thead>
              <tr>
                <th *ngFor="let item of sd">{{item.sub_attr.attr_label}}</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data_item of sd[0].csample_subdata; let data_index = index">
              <td *ngFor="let attr_item of sd; let attr_index = index">
                {{sd[attr_index].csample_subdata[data_index].ctype_sub_attr_value_part1}}
              </td>
            </tr>
          </tbody>
      </table>           
  </div>
</div>

