<div class="ui grid small_padding stackable">
    <div class="sixteen wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>
<div class="ui grid row small_padding">
    <div class="ten wide column">
      <h3 class="ui violet left aligned header"><i class="icon add circle"></i>STORE SAMPLE(S)</h3>
    </div>
    <div class="six wide column">
      <a class="ui teal button float-right" 
        [ngClass]="{'disabled': adding == true }" 
        [routerLink]="['/containers/', container.pk, box.box_position]">
        <i class="icon caret left"></i>BACK
      </a>
    </div>
</div>
<div class="ui grid container small_padding stackable">
    <div class="ui top attached teal segment">
        <p class="teal-text ui center aligned">
          Store the same samples at the following positions to 
          <em><strong>{{container.name}}</strong></em> /
          <em><strong>box {{box_pos}}</strong></em>: 
        </p>
        <a class="ui label fix_label_width" 
        [ngClass]="{'disabled': cellIsExcluded(cell), 'green_bordered':  !cellIsExcluded(cell) }"
        *ngFor="let cell of emptySelectedCells;" 
        (click)="toggleCell(cell)">
          <i class="circle thin icon" [ngClass]="{'violet-text': !cellIsExcluded(cell) }"></i>
          <span class="">{{box_pos}}/{{cell}}</span>
        </a>
      </div>
      <div class="ui attached segment">
        <app-store-sample-form [cells]="cells.toString()" [container]="container" [box]="box"></app-store-sample-form>
      </div>
</div>