<!-- one card -->
<div class="content" [style.background-color]="color">
  <div class="header right floated">Box: {{box.box_position}} </div>
  <img *ngIf="user != null && user.profile.photo" class="ui avatar image" src="{{appUrl + user.profile.photo}}"><span class="meta">{{user.first_name.toUpperCase()+ " " + user.last_name.toUpperCase()}}</span>         
</div>
<div class="content">
  <div class="meta">tower#: {{box.tower}}, shelf#: {{box.shelf}}, box# {{box.box}}</div>
  <div class="description">{{box.description}}</div>
</div>
<div class="content">
  <span class="ui bottom right floated">
    <a (click)="clearRate(box.box_position)" *ngIf="rate===1"><i class="icon caret left"></i></a>
    <sui-rating class="heart" [ngModel]="rate" max="5" (ngModelChange)="updateRate($event, box.box_position)"></sui-rating> 
  </span>
  <i class="icon pie chart"></i>{{currentSampleCount}} Samples
</div>

<!-- end one card -->