<div class="ui one column stackable center aligned page grid huge-padding">
   <div class="column eight wide">     
       <div class="center floated column">
         <!--form header-->
          <h2 class="ui header teal image">
            <img>
            <div class="content">LOGIN TO {{appName}}</div>
          </h2>
          <!--form-->
          <form [formGroup]="loginForm" class="ui large form" (ngSubmit)="loginForm.valid && onLogin(loginForm.value)">
            <div class="ui stacked segment">
              <div class="field" [class.error]="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" id="username" [formControl]="loginForm.controls['username']" placeholder="Username">
                </div>
                <div *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched" class="ui mini negative message">Username is required</div>
              </div>
              <div class="field" [class.error]="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" id="password" [formControl]="loginForm.controls['password']" placeholder="Password">
                </div>  
                <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="ui mini negative message"><p>Password is required</p></div>
              </div>
              <button type="submit" class="ui fluid teal button">
                <i class="icon sign in"></i>
                Login
              </button>
            </div>
          </form>
          <!--sign up-->
          <div class="ui message mini">
              <span class="grey-text">New to {{appName}}?</span>&nbsp;&nbsp;<a [routerLink]="['../register']"><i class="icon add user"></i>Sign Up</a><br/>
              <div class="ui divider"></div>
              <span class="grey-text">forget password?</span>&nbsp;&nbsp;<a [routerLink]="['../forget_password']"><i class="icon send"></i>Reset Password</a>
          </div>
      </div>
   </div>
</div>