<div class="ui grid row">
  <div class="sixteen wide column">   
    <div class="ui stackable floated right menu small sidebar_menu_offset">
      <a class="item disabled">
        <span class="brown-text"><i class="marker icon"></i></span>
      </a>
      <a class="active teal item" (click)="displayContainerBoxes(currentContaner.pk)" >
        <span class="teal-text">{{ currentContaner != null ? currentContaner.name +" (" + currentContaner.temperature + ' &deg;C' + ")" : "NOT SELECTED"}}</span><i class="red-text icon caret right"></i>
      </a>
      <a class="orange item" [routerLink]="['/containers']" *ngIf="currentBox != null">
        <span class="orange-text">Box: {{ currentBox != null ? currentBox.position : "NOT SELECTED"}}</span>
      </a>
    </div>
  </div>
</div>