<div class="ui vertical inverted masthead center aligned segment">
    <div class="ui right icon secondary inverted pointing menu">
        <a [routerLink]="['../home']" class="active item"><i class="home icon"></i> Home</a>
        <a [routerLink]="['../home']" class="item"><i class="block layout icon"></i> Features</a>
        <a *ngIf="isLogin" (click)="_toggleSidebar()" class="ui teal button right item">
            <i *ngIf="!user.profile.photo" class="user icon"></i>
            <img *ngIf="user.profile.photo" class="ui avatar image" src="{{appUrl+user.profile.photo}}">
        </a>
    </div>
    <div class="ui container">
        <h1 class="ui inverted header bioku-header">
            <span><em>{{appName}}</em></span>
        </h1>
        <h2 class="inverted">
            <span><em>An Open-Source Container System for Biomaterials</em></span>
        </h2>
    </div>
    <div class="ui divider"></div>
    <div>
        <a [routerLink]="['../login']" class="ui teal button">
            <i class="sign in icon"></i>
            Log In
        </a>
        <a *ngIf="!isLogin" [routerLink]="['../register']" class="ui inverted basic button">
            <i class="add user icon"></i>
            Sign Up
        </a>
        <a *ngIf="isLogin" (click)="Logout()" class="ui inverted basic button"><i class="sign out icon"></i>Log Out</a>
    </div>
</div>

<!-- sidebar -->
<ng-sidebar-container id="small_card">
    <ng-sidebar [(opened)]="_opened" position="right" mode="push" sidebarClass="ui inverted labeled icon vertical menu" animate="true" closeOnClickOutside="true" showBackdrop="true" closeOnClickBackdrop="true" #sidebar>        
        <!-- logout -->
        <a class="item" (click)="Logout()"><i class="sign out icon"></i>Sign Out</a>

        <div *ngIf="isLogin" class="ui red raised card">
            <div *ngIf="user.profile.photo" class="image">                
                <img src="{{appUrl+user.profile.photo}}" class="ui medium rounded image">
            </div>
            <div class="content">            
                <!--<img class="right floated mini ui image" src="{{appUrl+user.profile.photo}}">-->
                <a><span class="ui right floated"><i class="icon setting"></i></span></a>
                <span class="header">{{user.username}} ({{user.first_name +" "+ user.last_name}})</span>
                <div class="meta">
                    <span class=""><i class="mail icon"></i> {{user.email}}</span>
                    <span *ngIf="user.profile.telephone" class=""><i class="call icon"></i> {{user.profile.telephone}}</span>
                    <span *ngIf="user.profile.birth_date" class=""><i class="birthday icon"></i> {{user.profile.birth_date}}</span>
                </div>  
                <div class="meta" *ngIf="user.roles">
                    <span *ngFor="let r of user.roles">{{r}}</span>
                </div>         
            </div>
            <!--
            <div class="extra content" *ngIf="groups">
                <p>{{groups}}</p>
            </div>
            -->
            <div class="ui bottom attached button">
                <i class="lock icon"></i>Change Password
            </div>
        </div>
        <!--groups and list all the researchers in the group when hoeving the image-->
        <div *ngIf="isLogin">
            <div class="ui teal raised card" *ngFor="let group of groups">
                <!--group info-->
                <div class="content">             
                    <span class="ui blue image label">
                        <img class="ui avatar image" src="{{appUrl+group.photo}}">{{group.group_name}} ({{group.pi}})
                    </span>  
                    
                    <div class="meta">
                        <span class=""><i class="user icon"></i> {{'PI: '+group.pi_fullname}}</span><br>
                        <span class=""><i class="mail icon"></i> {{'Email: '+group.email}}</span><br>
                        <span *ngIf="group.department" class=""><i class="building icon"></i> {{'Dpart: '+group.department}}</span><br>
                        <div *ngIf="group.assistants">
                            <span class="ui red empty circular label" *ngFor="let assist of group.assistants">
                                {{assist.user.first_name}} ({{assist.user.email}})
                            </span> 
                            <!--
                                <img class="ui avatar image" src="{{appUrl+group.photo}}">
                                <span *ngFor="let assist of group.assistants"><img src="{{appUrl+assist.user.profile.photo}}" class="ui avatar image">{{assist.user.first_name}} ({{assist.user.email}})</span>-->
                        </div>
                    </div>           
                </div>
                <div class="extra content" *ngIf="group.researchers">
                    <div class="meta">
                        <table class="ui very basic collapsing celled table">
                        <tr *ngFor="let r of group.researchers">
                        <td>                           
                                <div class="left floated author">
                                    <img src="{{appUrl+r.user.profile.photo}}" class="ui avatar image">
                                    <span class="">{{r.user.first_name}} ({{r.user.email}})</span>                          
                                </div>
                        </td>
                            <!--
                            <td>
                                <div *ngFor="let r of assist.user.roles">
                                    <div class="ui red horizontal label">{{r}}</div>
                                </div>
                            </td>
                            
                            <td>
                                <div *ngFor="let g of assist.user.groups">
                                    <div class="ui teal tag label">{{g.group}}</div>
                                </div>
                            </td>
                            -->
                        </tr>
                        </table>
                    </div>                               
                </div>
                <!--assistant-->
                <!--members-->
                <div class="extra content" >
                    <p></p>
                </div>
            </div>
        </div>


        <!--

        <a class="item">
            <i class="home icon"></i>Home
        </a>
        <a class="item">
            <i class="block layout icon"></i>Topics
        </a>
        <a class="item">
            <i class="smile icon"></i>Friends
        </a>
        -->
    </ng-sidebar>
</ng-sidebar-container>