<div class="ui grid row">
  <div class="sixteen wide column">
    <div class="ui segments">
        <div class="ui mini center aligned tertiary segment">
          <div><i class="icon comment outline"></i>validation outputs</div>
        </div>
      <div class="ui secondary segment validation_message scrollable" #messageBox>
        <p class="tight_around" *ngFor="let output of sampleValidator.validator_outputs">
          <span class="grey-text">({{output.validation_step}})</span>
          <span class="grey-text">==></span> 
          <i [attr.class]="getIconbyStatus(+output.status)"></i><span [attr.class]="getColorByStatus(+output.status)">{{output.message}}</span>
        </p>
        <p *ngIf="!validator_failed && !validation_finished" class="grey-text"><i class="loading icon minus"></i></p>
      </div>
      <div class="ui green segment">
        <div *ngIf="!validation_finished">
          <i *ngIf="!validator_failed" class="icon loading spinner"></i>
          <i *ngIf="validator_failed" class="icon red warning sign"></i>{{validation_step}} 
          <span *ngIf="validator_failed" class="red-text">FAILED!</span>
        </div>
        <div *ngIf="validation_finished">
          <i class="icon blue checkmark"></i> {{validation_step}} 
          <span class="blue-text">FINISHED!</span>
        </div>
      </div>
    </div>
  </div>
</div>