<div class="ui row" *ngIf="_towers" style="overflow-y:hidden;white-space:nowrap;">
    <table class="ui small celled teal single line compact structured unstackable collapsing table" *ngFor="let tws of towers_splited">
      <thead>
          <tr>
              <th></th>
              <th *ngFor="let tower of tws" [attr.colspan]="tower.shelves[0].boxAvailabilities.length" class="center aligned">
                <em>TOWER{{tower.tower}}</em><br/>
                <small class="">BOXES</small>
              </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shelf of transformTowers(tws); let s = index">
          <th><em><small class="">SHELF{{s+1}}</small></em></th>
          <td 
            *ngFor="let box of shelf; let t = index" 
            class="sample-cell tight_around center aligned" 
            [ngClass]="{'box-selected': selectedBoxPositions.indexOf(box.full_position) !==- 1 }">            
            <div *ngIf="box.available" class="clickable fix_size_div center aligned grey-text" (click)="toggleSelection(box)" >{{box.position}}</div>
            <div *ngIf="!box.available" class="clickable fix_size_div center aligned grey-text" (click)="toggleSelection(box)" 
            [ngClass]="{'noEvent not_permitted_box': permited_box_positions.indexOf(box.full_position) === -1}"  
            style="background-color: teal;">
              {{box.position}}
            </div>
          </td>
        <tr>
      </tbody>
    </table>
</div>
<br/>
<br/>
<div class="ui raised segments tiny_vertial_padding fixed_width_huge">
  <div class="ui horizontal attached segments tiny_vertial_padding fixed_width_huge">
        <div class="ui compact segment tiny_vertial_padding">
          <div class="fix_size_div bordered inline"></div>
          <div class="inline"><small class="small_padding"> EMPTY SLOT</small></div>
        </div>
        <div class="ui compact segment tiny_vertial_padding">
          <div class="fix_size_div inline" style="background-color: teal;"></div>
          <div class="inline"><small class="small_padding"> OCCUPIED SLOT</small></div>
        </div>
        <div class="ui compact segment tiny_vertial_padding">
          <div class="fix_size_div not_permitted_box inline"></div>
          <div class="inline"><small class="small_padding"> INSUFFICIENT PERMISSION</small></div>
        </div>
        <div class="ui compact segment tiny_vertial_padding">
          <div class="fix_size_div box-selected inline"></div>
          <div class="inline"><small class="small_padding"> SELECTED SLOT</small></div>
        </div>
  </div>
  <div class="ui mini green bottom attached button" tabindex="0" (click)="clearSelection()">
      <i class="icon undo"></i>CLEAR ALL SELECTION
  </div>
</div>
<br/>
<br/>
