<div class="" *ngIf="_towers" style="overflow-y:hidden;white-space:nowrap;">
    <table class="ui small celled teal single line compact structured unstackable collapsing table" *ngFor="let tws of towers_splited">
      <thead>
          <tr>
              <th></th>
              <th *ngFor="let tower of tws" [attr.colspan]="tower.shelves[0].boxAvailabilities.length" class="center aligned">
                <em>TOWER{{tower.tower}}</em><br/>
                <small class="">BOXES</small>
              </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shelf of transformTowers(tws); let s = index">
          <th><em><small class="">SHELF{{s+1}}</small></em></th>
          <td *ngFor="let box of shelf; let t = index" class="clickable sample-cell tight_around center aligned" (click)="boxClicked(box)">
            <div *ngIf="box.available" class="fix_size_div center aligned grey-text">{{box.position}}</div>
            <div *ngIf="!box.available" class="fix_size_div center aligned grey-text" style="background-color: teal;">{{box.position}}</div>
          </td>
        <tr>
      </tbody>
    </table>
</div> 