<div class="sixteen wide column">
  <table class="ui structured small teal single line compact padded table">
    <thead>
      <tr>
        <th colspan="4" class="center aligned">Sample</th>
        <th colspan="2" class="center aligned left-bordered">Tissue</th>
        <th colspan="2" class="center aligned left-bordered">Attachment</th>
        <th colspan="2" class="center aligned left-bordered">Researcher</th>
      </tr>
      <tr>
        <th class="">Name</th>
        <th class="">POSITION</th>
        <th class="">DATES</th>
        <th class="">CODES</th>
        
        <th class="left-bordered">System</th>
        <th class="">Tissue</th>

        <th class="left-bordered">Label</th>
        <th class="">Description</th>

        <th class="left-bordered">Name</th>
        <th class="">Email</th>
      </tr>
    </thead>
  </table>
</div>