  <div class="">
  <table class="ui small unstackable padded teal table">
      <!-- [style.border-top]="genBorderStyle(color)" -->
    <thead>
      <tr>
        <th class="">Name</th>
        <th class="">Code</th>
        <th class="">Position</th>
        <th class="">Quantity</th>
        <th class="">Date</th>
        <th class="">TakeOut</th>     
        <th class="">Attachment</th>     
        <th class="">Researcher</th>
        <th class="">Reference</th>
        <th class="">Comments</th>
      </tr>      
    </thead>
    <tbody>
      <tr *ngFor="let sample of samples" class="clickable" (click)="toggleSelection(sample.pk)" 
        [ngClass]="{'table-td-selected': selectedSamples.indexOf(sample.pk) !==- 1, 'table-td-no-sample': !sample.occupied }">
        <td class="collapsing">
          <div>
            <span [style.color]="sample.color">{{ (sample.name != null && sample.name.length>15)? (sample.name | slice:0:15)+'..':(sample.name) }}</span>
            <sup *ngIf="sample.tag" class="ui mini blue circular label">{{sample.tag != null && sample.tag.length >= 5 ? (sample.tag | slice:0:5) : sample.tag}}</sup>
            <span class="ui mini label">{{ sample.type | slice:0:2 }}</span>
          </div>        
        </td>
        <td class="collapsing">{{sample.registration_code}}</td>
        <td class="collapsing">
          <span>{{sample.position}}</span>
          <sup *ngIf="sample.label">{{sample.label}}</sup>
        </td>
        <td class="collapsing">
            <span *ngIf="sample.type ==='CELL'">{{sample.amount}}</span>
            <span *ngIf="sample.type ==='VIRUS'">{{sample.titration_titer? sample.titration_titer:''}}{{sample.titration_unit? sample.titration_unit:''}}</span>
            <span *ngIf="sample.type !=='CELL' && sample.type !=='VIRUS'">{{sample.quantity? sample.quantity:'' }}{{ sample.quantity_unit ? sample.quantity_unit:''}}</span>          
        </td>
        <td class="collapsing">{{sample.freezing_date | date: 'yyyy-MM-dd'}}</td>   
        <td class="collapsing">{{sample.date_out| date: 'yyyy-MM-dd'}}</td>            
        <td class="collapsing">
          <div *ngIf="sample.attachments != null && sample.attachments.length > 0">
            <p class="nopadding no_margin" *ngFor="let attachment of sample.attachments">
              <a target="_blank" href="{{appUrl + attachment.attachment}}">{{attachment.label != null ? attachment.label : null}}</a>
            </p>
          </div>   
        </td>
        <td class="collapsing">
          <div *ngIf="sample.researchers != null && sample.researchers.length > 0">
            <span class="nopadding no_margin" *ngFor="let researcher of sample.researchers">
              {{researcher.first_name != null ? (researcher.first_name.toUpperCase() | slice:0:1) : ''}}{{researcher.last_name != null ? (researcher.last_name.toUpperCase() + ' ' | slice:0:1): ' '}}
            </span>
          </div> 
        </td>
        <td class="collapsing">{{sample.reference_code}}</td>            
        <td class="collapsing">
            {{ (sample.description != null && sample.description.length>100)? (sample.description | slice:0:100)+'..':(sample.description) }}
        </td>  
      </tr>
    </tbody>
    <tfoot class="full-width">
        <tr>
          <th class="no_side_padding no_side_margin" colspan="13">
            <sui-progress class="indicating tiny" [value]="currentSampleCount" [maximum]="totalBoxCapacity" [autoSuccess]="true" [precision]="0">
              <div [style.color]="color">
                <span class="header">Box: {{box.box_position}}</span>
                <span class="">(<i class="icon pie chart"></i>{{currentSampleCount}} Samples)</span>
              </div>
            </sui-progress>            
          </th>
        </tr>
        <tr>
          <th colspan="13">
            <div class="ui grid">
                <div class="ten wide column">
                    <span class="header">BOX DESCRIPTION: </span>
                    <div class="ui fluid icon input">
                      <input class="" type="text" [(ngModel)]="box.description" placeholder="update box description ..." (ngModelChange)="updateDescription($event, box.box_position)">
                      <i class="refresh icon"></i>
                    </div>
                </div>
                <div class="six wide column">
                    <span class="header">BOX LABEL: </span>
                    <div class="ui fluid icon input">
                      <input class="" type="text" [(ngModel)]="box.label" placeholder="user defined box label ..." (ngModelChange)="updateLabel($event, box.box_position)">
                      <i class="refresh icon"></i>
                    </div>
                </div> 
            </div>
            
          </th>
        </tr>      
        <tr>        
          <th colspan="13">                      
            <div class="ui right floated">
              <h5 class="header">Box Rating</h5>
              <a (click)="clearRate(box.box_position)" *ngIf="rate===1"><i class="icon caret left"></i></a>
              <sui-rating class="heart" [ngModel]="rate" max="5" (ngModelChange)="updateRate($event, box.box_position)"></sui-rating>
            </div>
            <div [style.color]="color">
              <span class="header">Box ({{box.box_position}}) Color: </span>
            </div>
            <div>
                <color-picker [(ngModel)]="color" (ngModelChange)="updateColor($event, box.box_position)" [availableColors]="availableColors" [pickerConfig]="pickerOptions"></color-picker>
            </div>
          </th>
        </tr>
    </tfoot>
  </table>
</div>