<div class="ui grid small_padding stackable">
    <div class="sixteen wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>
<div class="ui grid row small_padding">
    <div class="ten wide column">
      <h3 class="ui violet left aligned header"><i class="icon move"></i>SAMPLE(S) BETWEEN 2 BOXES</h3>
    </div>
    <div class="six wide column">
      <a class="ui teal button float-right" 
        [ngClass]="{'disabled': moving == true }" 
        [routerLink]="['/containers/', container.pk, firstBox.box_position]">
        <i class="icon caret left"></i>BACK
      </a>
    </div>
</div>

<!--loading info-->
<div *ngIf="loading==true" class="ui loading segment center aligned">
  <br/><br/><br/><br/>
  <p class="brown-text">loading boxes ... </p>
</div>
<!-- loaded -->
<div class="ui grid sixteen wide column" *ngIf="loading==false">
  <table class="ui small single line compact structured unstackable table">
      <thead>
          <tr>
            <th class="center aligned eight wide ui header" colspan="2" [style.border-top]="genBorderStyle(firstColor)">
              FIRST BOX <span *ngIf="show_user_defined_label && firstBox.label"> :{{firstBox.label}}</span>
            </th>
            <th class="center aligned eight wide ui header teal_border_left" colspan="2" [style.border-top]="genBorderStyle(secondColor)">
              SECOND BOX <span *ngIf="show_user_defined_label && secondBox.label"> :{{secondBox.label}}</span>
            </th>
          </tr>
          <tr class="">
              <th class="center aligned four wide tight_around" [style.background-color]="firstColor"><strong><em>CONTAINER: {{container.name}}</em></strong></th>
              <th class="center aligned four wide tight_around" [style.background-color]="firstColor">
                <strong><em>BOX: {{firstBox.box_position}}</em></strong>
            </th>
              <th class="center aligned four wide teal_border_left tight_around" [style.background-color]="secondColor">
                <div class="ui form tiny center aligned">
                  <div class="ui inline fields tight_around">
                    <div class="field">
                        <label><strong><em>CONTAINER: </em></strong></label>
                        <select class="ui dropdown fluid selection" 
                        [ngModel]="secondContainer.pk" 
                        (change)="selectContainer($event)" #containerCtl>
                          <option 
                          [ngValue]="my_container.pk"
                          *ngFor="let my_container of my_containers"> 
                          {{my_container.name + ' (' + my_container.temperature + '&deg;C' + ', ' + my_container.room + ')'}}
                          </option>
                        </select>
                    </div>
                  </div>
                </div> 
              </th>
              <th class="center aligned four wide tight_around" [style.background-color]="secondColor">     
                <div class="ui form equal width tiny">
                    <div class="ui inline fields tight_around">
                        <div class="field">
                            <label><strong><em>BOX: </em></strong></label>
                          </div>
                      <div class="field">
                        <label>TOWER </label>
                        <select name="tower" class="ui fluid dropdown" 
                        [ngModel]="secondBoxTower"
                        (change)="updateTarget(secondContainer.pk, 'target_tower', $event)" #towerCtl>
                          <!-- <option> - </option>   -->
                          <option *ngFor="let option of genOptions(secondContainer.pk, 'tower')" value="{{option}}">{{option}}</option>
                        </select>
                      </div>
                      <div class="field">
                        <label>SHELF </label>
                        <select name="shelf" class="ui fluid dropdown"
                        [ngModel]="secondBoxShelf"
                         (change)="updateTarget(secondContainer.pk, 'target_shelf', $event)" #shelfCtl>
                          <!-- <option> - </option> -->
                          <option *ngFor="let option of genOptions(secondContainer.pk, 'shelf')" value="{{option}}">{{option}}</option>
                        </select>
                      </div>
                      <div class="field">
                          <label>BOX </label>
                          <select name="box" class="ui fluid dropdown"
                          [ngModel]="secondBoxBox"
                           (change)="updateTarget(secondContainer.pk, 'target_box', $event)" #boxCtl>
                            <!-- <option> - </option> -->
                            <option *ngFor="let option of genOptions(secondContainer.pk, 'box')" value="{{option}}">{{option}}</option>
                          </select>
                      </div>
                    </div>                       
                </div>
              </th>
            </tr>
      </thead>
      <tbody>
          <tr class="wrapper">
              <td class="center aligned tight_around" colspan="2">
                  <table class="ui small unstackable celled single line fixed padded table">
                      <thead>
                        <tr>
                          <th></th>
                          <th *ngFor="let h of firstHArray" class="center aligned"><em class="">{{h}}</em></th>
                        </tr>
                      </thead>
                      <tbody class="">
                        <tr *ngFor="let v of firstVArray">
                          <th class="center aligned"><em class="">{{v}}</em></th>
                          <td class="center aligned sample-cell container"
                            [attr.position]="container.pk + '|' + firstBox.box_position + '|' + v +'-'+h"
                            [dragula]='"bag"' 
                            [dragulaOptions]="dragulaOptions"
                            *ngFor="let h of firstHArray">
                            <div *ngFor="let sample of pickerSamples(h,v, true)" class="movable">
                                <span [style.color]="sample.color"><strong>{{sample.name}}</strong></span><br/>
                                <span>{{sample.freezing_date}}</span>
                            </div>                   
                          </td>
                        </tr>
                      </tbody>
                    </table>
              </td>
              <td class="center aligned tight_around teal_border_left" colspan="2">
                <table class="ui small unstackable celled single line fixed padded table" *ngIf="loading_box2 == false && box2_not_found==false">
                  <thead>
                    <tr>
                      <th></th>
                      <th *ngFor="let h of secondHArray" class="center aligned"><em class="">{{h}}</em></th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr *ngFor="let v of secondVArray">
                      <th class="center aligned"><em class="">{{v}}</em></th>
                      <td class="center aligned sample-cell container"
                        [attr.position]="secondContainer.pk + '|' + secondBox.box_position + '|' + v +'-'+h"
                        [dragula]='"bag"' 
                        [dragulaOptions]="dragulaOptions"
                        *ngFor="let h of secondHArray">
                        <div *ngFor="let sample of pickerSamples(h,v, false)" class="movable">
                            <span [style.color]="sample.color"><strong>{{sample.name}}</strong></span><br/>
                            <span>{{sample.freezing_date}}</span>
                        </div>                   
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--loading box 2info-->
                <div *ngIf="loading_box2==true" class="ui loading segment center aligned">
                  <br/><br/><br/><br/>
                  <p class="brown-text">loading second box ... </p>
                </div>
                <!-- box 2 not found-->
                <div *ngIf="loading_box2==false && box2_not_found==true" class="ui segment center aligned">
                  <br/><br/><br/><br/>
                  <p class="red-text"> second box not found! </p>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>