<div class="ui grid small_padding stackable">
  <div class="sixteen wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>
<div class="ui grid row small_padding">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon braille"></i>CONTAINER BOX OVERVIEW</h3>
  </div>
  <div class="six wide column">
    <a class="ui teal button float-right" [routerLink]="['/containers/', container.pk]"><i class="icon caret left"></i>BACK</a>
  </div>
</div>

<div class="ui grid small_padding stackable">
    <div class="twelve wide tablet thirteen wide computer column" >
        <app-container-box-overview 
        [container]="container" 
        [towers]="containerTowers" 
        (boxesSelected)="captureBoxesSelected($event)" 
        (lastSelectedOccupiedSlot)="captureLastSelectedBox($event)">
      </app-container-box-overview>
      </div>
      <div class="four wide tablet three wide computer column ui sticky">
        <app-container-box-overview-action-panel 
          [selectedBoxes]="selectedBoxes" 
          [lastSelectedOccupiedBox]="lastSelectedOccupiedBox" 
          [container]="container">
        </app-container-box-overview-action-panel>
      </div> 
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="header">Example</div>
    <div class="content">
        <p>Data</p>
    </div>
    <div class="actions">
        <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
        <button class="ui green button" (click)="modal.approve('approved')" autofocus>OK</button>
    </div>
</ng-template>