<div class="ui grid small_padding stackable">
  <div class="sixteen wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>
<div class="ui grid row small_padding">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon braille"></i>OVERVIEW</h3>
  </div>
  <div class="six wide column">
    <a class="ui teal button float-right" [routerLink]="['/containers/', container.pk]"><i class="icon caret left"></i>BACK</a>
  </div>
</div>

<div class="ui grid small_padding stackable">
    <div class="twelve wide tablet thirteen wide computer column" >
        <app-container-box-overview [container]="container" [towers]="containerTowers"></app-container-box-overview>
      </div>
      <div class="four wide tablet three wide computer column ui sticky">
          action panel
      </div> 
</div>