
<div *ngIf="activated" 
class="ui dimmer modals page transition visible active" 
style="display: block !important;"
(click)="dismissModal($event)">
    <div class="ui fullscreen modal transition visible active" 
    style="margin-top: -234px; display: block !important;" 
    (click)="cancelPropagation($event)">
        <div class="ui center aligned header"><span [ngStyle]="{color: sample.color}">{{sample.name}}</span> ({{sample.type}})</div>
        <div class="scrolling content">
            <div class="ui stackable sixteen wide column grid">
                <div class="eight wide column">
                    <table class="ui teal small striped compact single line table">
                        <tr><th class="grey-text">Name</th>
                            <td>
                                {{sample.name}}
                                <sup *ngIf="sample.tag" class="ui mini blue circular label">{{sample.tag != null && sample.tag.length >= 5 ? (sample.tag | slice:0:5) : sample.tag}}</sup>
                                <span class="ui mini label">{{ sample.type | slice:0:2 }}</span>
                            </td>                       
                        </tr>                                              
                        <tr><th class="grey-text">Position</th><td>{{sample.container}}/{{sample.box_position}}/{{sample.position}}</td></tr>
                        <tr><th class="grey-text">Sample Type</th><td>{{sample.type}}</td></tr>  
                        <tr><th class="grey-text">Sample Code</th><td>{{sample.registration_code}}</td></tr>
                        <tr><th class="grey-text">External Code</th><td>{{sample.reference_code}}</td></tr>
                        <tr><th class="grey-text">Quantity</th>
                            <td>
                                <span *ngIf="sample.type ==='CELL'">{{sample.amount}}</span>
                                <span *ngIf="sample.type ==='VIRUS'">{{sample.titration_titer ? sample.titration_titer:''}}{{sample.titration_unit? sample.titration_unit:''}}</span>
                                <span *ngIf="sample.type !=='CELL' && sample.type !=='VIRUS'">{{sample.quantity ? sample.quantity:'' }}{{ sample.quantity_unit ? sample.quantity_unit:''}}</span>
                            </td>
                        </tr>                        
                        
                    </table>
                </div>
                <div class="eight wide column">
                    <table class="ui teal small striped compact single line table">
                        <tr><th class="grey-text">Freezing Code</th><td>{{sample.freezing_code}}</td></tr>
                        <tr><th class="grey-text">Freezing Date</th><td>{{sample.freezing_date | date: 'yyyy-MM-dd'}}</td></tr>
                        <tr><th class="grey-text">Taken Out</th><td>{{sample.date_out != null ? 'Yes': 'No'}}{{sample.date_out != null? '/': ''}}{{sample.date_out | date: 'yyyy-MM-dd'}}</td></tr>
                        <tr><th class="grey-text">Attachments</th>
                            <td>
                                <div *ngIf="sample.attachments != null && sample.attachments.length > 0">
                                    <p class="nopadding no_margin" *ngFor="let attachment of sample.attachments">
                                        <a target="_blank" href="{{appUrl + attachment.attachment}}">{{attachment.label != null ? attachment.label : null}}</a>
                                    </p>
                                </div> 
                            </td>
                        </tr>
                        <tr><th class="grey-text">Comments</th><td>{{ sample.description }}</td></tr>
                        <tr><th class="grey-text">Researcher</th>
                            <td>
                                <div *ngIf="sample.researchers != null && sample.researchers.length > 0">
                                    <span class="nopadding no_margin" *ngFor="let researcher of sample.researchers">
                                        {{researcher.first_name != null ? (researcher.first_name.toUpperCase() | slice:0:1) : ''}}{{researcher.last_name != null ? (researcher.last_name.toUpperCase() + ' ' | slice:0:1): ' '}}
                                    </span>
                                </div> 
                            </td>
                        </tr>                        
                    </table>
                </div>
                <div class="eight wide column" *ngIf="sample.type === 'CONSTRUCT'">
                    <table class="ui green small striped compact single line table">
                        <tr><th class="grey-text">Clone#</th><td>{{sample.clone_number}}</td></tr>
                        <tr><th class="grey-text">260/280</th><td>{{sample.against_260_280}}</td></tr>
                        <tr><th class="grey-text">R.E. analysis</th><td>{{sample.r_e_analysis}}</td></tr>
                        <tr><th class="grey-text">Backbone</th><td>{{sample.backbone}}</td></tr>
                        <tr><th class="grey-text">Insert</th><td>{{sample.insert}}</td></tr>
                        <tr><th class="grey-text">1st Maxi</th><td>{{sample.first_max}}</td></tr>
                        <tr><th class="grey-text">Marker</th><td>{{sample.marker}}</td></tr>
                        <tr><th class="grey-text">Glycerol Stock</th><td>{{sample.has_glycerol_stock}} {{sample.has_glycerol_stock != null ? '/' : ''}} {{sample.strain}}</td></tr>
                    </table>
                </div>
                <div class="eight wide column" *ngIf="sample.type === 'CELL' || sample.type === 'gRNA_OLIGO' || sample.type === 'OLIGO' ">
                    <table class="ui blue small striped compact single line table">
                        <tr *ngIf="sample.type === 'CELL'"><th class="grey-text">Passage#</th><td>{{sample.passage_number}}</td></tr>
                        <tr *ngIf="sample.type === 'CELL'"><th class="grey-text">Project</th><td>{{sample.project}}</td></tr>
                        <tr *ngIf="sample.type === 'CELL'"><th class="grey-text">Creator</th><td>{{sample.creator}}</td></tr>

                        <tr *ngIf="sample.type === 'gRNA_OLIGO' || sample.type === 'OLIGO' "><th class="grey-text">Oligo Name</th><td>{{sample.oligo_name}}</td></tr>
                        <tr *ngIf="sample.type === 'gRNA_OLIGO' || sample.type === 'OLIGO' "><th class="grey-text">Direction</th><td>{{sample.s_or_as ? 'Sense': 'Antisense'}}</td></tr>
                        <tr *ngIf="sample.type === 'gRNA_OLIGO' || sample.type === 'OLIGO' "><th class="grey-text">Oligo Sequence</th><td>{{sample.oligo_sequence}}</td></tr>
                        <tr *ngIf="sample.type === 'gRNA_OLIGO' || sample.type === 'OLIGO' "><th class="grey-text">Oligo Length</th><td>{{sample.oligo_length}}</td></tr>
                        <tr *ngIf="sample.type === 'gRNA_OLIGO' || sample.type === 'OLIGO' "><th class="grey-text">Oligo GC</th><td>{{sample.oligo_GC}}</td></tr>
                        <tr *ngIf="sample.type === 'gRNA_OLIGO' || sample.type === 'OLIGO' "><th class="grey-text">Target Sequence</th><td>{{sample.target_sequence}}</td></tr>
                    </table>
                </div>
                <div class="eight wide column" *ngIf="sample.type === 'TISSUE' || sample.type === 'VIRUS' ">
                    <table class="ui black small striped compact single line table">
                        <tr *ngIf="sample.type === 'VIRUS'"><th class="grey-text">Plasmid</th><td>{{sample.plasmid}}</td></tr>
                        <tr *ngIf="sample.type === 'VIRUS'"><th class="grey-text">Titration Titer</th><td>{{sample.titration_titer}}</td></tr>
                        <tr *ngIf="sample.type === 'VIRUS'"><th class="grey-text">Titration Unit</th><td>{{sample.titration_unit}}</td></tr>    
                        <tr *ngIf="sample.type === 'VIRUS'"><th class="grey-text">Titration Cell</th><td>{{sample.titration_cell_type}}</td></tr>
                        <tr *ngIf="sample.type === 'VIRUS'"><th class="grey-text">Titration Code</th><td>{{sample.titration_code}}</td></tr>

                        <tr *ngIf="sample.type === 'TISSUE'"><th class="grey-text">Pathology Code</th><td>{{sample.pathology_code}}</td></tr>
                        <tr *ngIf="sample.type === 'TISSUE'"><th class="grey-text">Tissue</th><td>{{sample.tissue}}</td></tr>
                    </table>
                </div>
            </div>
                     
        </div>
    </div>
</div>