
<div *ngIf="activated" 
class="ui dimmer modals page transition visible active" 
style="display: block !important;"
(click)="dismissModal($event)">
    <div class="ui fullscreen modal transition visible active" 
    style="margin-top: -234px; display: block !important;" 
    (click)="cancelPropagation($event)">
        <div class="ui center aligned header">
            <span [ngStyle]="{color: sample.color}">{{sample.name}}</span>
            <span>({{ USE_CSAMPLE ? sample.ctype.type : sample.type }})</span>
            <button *ngIf="USE_CSAMPLE" 
            class="ui mini primary button right floated" 
            (click)="modify(sample)">
                <i class="icon edit outline"></i>
                MODIFY
            </button>
        </div>
        <div class="scrolling content" *ngIf="!USE_CSAMPLE">
            <app-sample-view-detail [sample]="sample"></app-sample-view-detail>
        </div>
        <div class="scrolling content" *ngIf="USE_CSAMPLE">
            <app-csample-view-detail [sample]="sample"></app-csample-view-detail>
        </div>
    </div>
</div>