
<div *ngIf="activated" 
class="ui dimmer modals page transition visible active" 
style="display: block !important;" 
(click)="dismissModal()">
    <div class="ui standard test modal transition visible active" style="margin-top: -234px; display: block !important;">
        <div class="ui center aligned header"><span [ngStyle]="{color: sample.color}">{{sample.name}}</span> ({{sample.type}})</div>
        <div class="content">
            <div class="ui stackable sixteen wide column grid">
                <div class="eight wide column">
                    <p>{{sample.name}}</p>
                </div>
                <div class="eight wide column">
                    <p>{{sample.name}}</p>
                </div>  
            </div>
                     
        </div>
    </div>
</div>