.dropzone {
    min-height: 400px;
    min-width: 400px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 1px #aaa;
  }
  .text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
.parse_file_zone{
  min-height: 400px;
  min-width: 400px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
}

.dragable_field{
  border: 1px  solid #573a08 !important;
  border-radius: 3px !important;
  padding-right: 10px !important;
  margin-right: 10px !important;
  background-color: #fffaf3;
}