<div class="ui grid row medium_bottom">
    <div class="sixteen wide column">
      <!-- info -->
      <div class="ui icon top attached info message">
        <i class="icon file excel outline"></i>
        <div class="content">
          <div class="header">UPLOAD SAMPLE FILE</div>
          <p>Please speficy the sample type and column headers before uploading the excel file (.xlsx), so that the application knows
            how to save your samples</p>
        </div>
      </div>
      <div class="ui visible inverted attached icon message" *ngIf="!all_set_start_to_upload_file">
        <i class="info circle icon"></i>
        <div class="content">
          <div class="header">
            Please make sure:
          </div>
          <span *ngIf="!bLabel.box_has_label">
              <i class="caret right icon"></i><span class="red-text"> your boxes are NOT labeled;</span><br />
          </span>
          <span *ngIf="bLabel.box_has_label">
            <i class="caret right icon"></i> your box label looks like this:
            <span *ngIf="bLabel.box_defined_as_normal">
              <span *ngIf="bLabel.box_defined_as_normal" class="red-text">
                <s>{{bLabel.prefix}}</s>
              </span>
              <strong class="red-text">{{genOneorA(bLabel.tower)}}{{bLabel.join}}{{genOneorA(bLabel.shelf)}}{{bLabel.join}}{{genOneorA(bLabel.box)}}</strong>
              <span class="red-text">
                <s>{{bLabel.appendix}}</s>
              </span>
            </span>            
            <span *ngIf="!bLabel.box_defined_as_normal && bLabel.box_sample_separated">your box label doesn't follow the pattern of "tower-shelf-box" and is stored as a separated data column</span>
            <span *ngIf="!bLabel.box_defined_as_normal && !bLabel.box_sample_separated">your box label doesn't follow the pattern of "tower-shelf-box" and is integrated with sample label</span>;
            <br />
          </span>
            <i class="caret right icon"></i> your sample label looks like this:
            <span class="violet-text" *ngIf="!bLabel.box_defined_as_normal && !bLabel.box_sample_separated"><strong>{{genOneorA(sLabel.boxLabel)}}{{sLabel.boxJoin}}</strong></span><strong class="red-text" *ngIf="sLabel.sampleLabelDefinition !== 2">{{genOneorA(sLabel.sampleRow)}}{{sLabel.sampleJoin}}{{genOneorA(sLabel.sampleColumn)}}</strong><strong class="red-text" *ngIf="sLabel.sampleLabelDefinition === 2">1</strong>;
            <br />
            <i class="caret right icon"></i> your box layout looks like this: (
            <span class="red-text">
              <strong>{{sLabel.box_horizontal}}X{{parseLetter2Number(sLabel.box_vertical)}}</strong>
            </span>);
        </div>
      </div>
        <!-- end info -->
        <!-- sample type, columns -->
        <div class="ui raised mini attached segment left aligned" *ngIf="!all_set_start_to_upload_file">
          <div class="ui header blue">
            <i class="icon caret right"></i>SAMPLE TYPE & COLUMN HEADERS</div>
        </div>
        <div class="ui two attached huge steps" *ngIf="!all_set_start_to_upload_file">
          <div class="step">
            <div class="ui top left attached teal label">STEP 1</div>
            <div class="content">
              <div class="ui grid">
                <div class="ui horizontal divider">SAMPLE TYPE</div>
                <div class="ui form">
                  <div class="grouped fields">
                    <div class="field">
                      <div class="ui slider checkbox">
                        <input id="sample_general" type="radio" name="sample_type" [attr.checked]="sample_type === 'GENERAL' ? 'checked': null" (change)="updateSampleType('GENERAL')">
                        <label for="sample_general">GENERAL</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui slider checkbox">
                        <input id="sample_cell" type="radio" name="sample_type" [attr.checked]="sample_type === 'CELL' ? 'checked': null" (change)="updateSampleType('CELL')">
                        <label for="sample_cell">CELL</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui slider checkbox">
                        <input id="sample_construct" type="radio" name="sample_type" [attr.checked]="sample_type === 'CONSTRUCT' ? 'checked': null"
                          (change)="updateSampleType('CONSTRUCT')">
                        <label for="sample_construct">CONSTRUCT</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui slider checkbox">
                        <input id="sample_OLIGO" type="radio" name="sample_type" [attr.checked]="sample_type === 'OLIGO' ? 'checked': null" (change)="updateSampleType('OLIGO')">
                        <label for="sample_OLIGO">OLIGO</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui slider checkbox">
                        <input id="sample_gRNA_OLIGO" type="radio" name="sample_type" [attr.checked]="sample_type === 'gRNA_OLIGO' ? 'checked': null"
                          (change)="updateSampleType('gRNA_OLIGO')">
                        <label for="sample_gRNA_OLIGO">gRNA_OLIGO</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui slider checkbox">
                        <input id="sample_TISSUE" type="radio" name="sample_type" [attr.checked]="sample_type === 'TISSUE' ? 'checked': null" (change)="updateSampleType('TISSUE')">
                        <label for="sample_TISSUE">TISSUE</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui slider checkbox">
                        <input id="sample_VIRUS" type="radio" name="sample_type" [attr.checked]="sample_type === 'VIRUS' ? 'checked': null" (change)="updateSampleType('VIRUS')">
                        <label for="sample_VIRUS">VIRUS</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui step">
            <div class="ui top left attached teal label">STEP 2</div>
            <div class="content">
              <div class="ui horizontal divider">COLUMN HEADER</div>
              <div class="ui slider checkbox">                 
                <input type="checkbox" name="" id="excel_file_header" (change)="toggleExcelFilerHeader()" checked="checked">
                <label for="excel_file_header">
                  <span *ngIf="excel_file_has_header" class="">I have column headers in the excel file</span>
                  <span *ngIf="!excel_file_has_header" class="red-text">I have NO column headers in the excel file</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMN SPECIFICATION -->
        <div class="ui raised mini attached segment left aligned" *ngIf="!all_set_start_to_upload_file">
            <div class="ui header blue">
            <i class="icon caret right"></i>COLUMN SPECIFICATION</div>
        </div>
        <div class="ui attached segment wrapper" *ngIf="!all_set_start_to_upload_file">
            <div class="ui top left attached teal label">STEP 3</div>
            <div>
                <div class="ui small icon positive message">
                  <i class="announcement icon"></i>
                  <div class="content">
                    <div class="header">How-To</div>
                    <p>Drag the available column headers to the table below to specify the columns in your excel file. 
                      The available column headers in red are required headers.
                      Specify only the columns you want to save; empty columns will be ignored!
                    </p>
                  </div>
                </div><br />              
                <div class="ui horizontal divider">AVAILABLE COLUMN HEADERS</div>
                <div 
                id="column_headers"
                [attr.column]="-1"
                [dragula]='"bag"' 
                [dragulaOptions]="dragulaOptions"  
                class="container"> 
                    <div *ngFor="let header of column_headers"
                      [attr.header]="header"
                      class="ui label movable" [ngClass]="{'red': all_requied_headers.indexOf(header) !== -1 }">
                      <i class="move icon"></i>
                      {{header}}
                    </div>
                </div>
            </div>
            <br />
            <div>
              <div class="ui horizontal divider">COLUMN HEADERS IN YOUR EXCEL FILE</div>
                <table class="ui small very compact unstackable striped blue table celled single line fixed">
                  <thead>
                    <tr>
                      <th *ngFor="let c of column_headers; let cindex = index">column {{cindex + 1}}</th>
                    </tr>
                    <tr>
                      <td id="column_target" [attr.column]="(cindex + 1)" [dragula]='"bag"' [dragulaOptions]="dragulaOptions" *ngFor="let c of column_headers; let cindex= index"
                        class="column_min_height container"></td>
                    </tr>
                    <tr *ngIf="freezing_date_included && !freezing_date_format_is_set">
                      <!--  freezing date format -->
                      <td [attr.colspan]="column_headers.length">
                        <div class="ui warning icon message">
                          <i class="icon alarm"></i>
                          <div class="content">
                            <div class="header">please specify the date format!</div>
                            <p><span><i class="small icon circle"></i>You've selected the "Freezing Date" column, please specify the date format before proceeding further;</span><br />
                              <span><i class="small icon circle"></i>You can drag the "Freezing Date" out/into table to hide or show this;</span><br />
                              <span><i class="small icon circle"></i>Drag the "year", "month" and "day" to change their orders; "joined with" cannot be dragged.</span><br />
                            </p>
                          </div>
                        </div>
                        <div class="ui grid row">
                          <div class="eight wide column">
                            <div class="ui divider horizontal">Specifiy the freezing date format</div>
                            <div class="ui equal width form">                              
                              <div class="four fields container"
                              id="date_position"
                              [attr.column]="-1"
                              [dragula]='"bag_date"' 
                              [dragulaOptions]="dragulaOptions">
                              <div class="field dragable_field movable" id="year">
                                <label class="movable" for="year"><i class="brown icon move"></i>year</label>
                                <select id="year" class="ui dropdown" [(ngModel)]="freezing_date_format.year_format" (ngModelChange)="updateFreezingDateFormat('year_format', $event)">
                                  <option value="0">yyyy</option>
                                  <option value="1">yy</option>
                                </select>
                              </div>
                              <div class="field dragable_field movable" id="month">
                                <label class="movable" for="month"><i class="brown icon move"></i>month</label>
                                <select id="month" class="ui dropdown" [(ngModel)]="freezing_date_format.month_format" (ngModelChange)="updateFreezingDateFormat('month_format', $event)">
                                  <option value="0">MM (digits)</option>
                                  <option value="1">full month names</option>
                                  <option value="2">3-letter abbreviations</option>
                                </select>
                              </div>
                              <div class="field dragable_field movable" id="day">
                                <label class="movable" for="day"><i class="brown icon move"></i>day</label>
                                <select id="day" class="ui disabled dropdown">
                                  <option value="">dd</option>
                                </select>
                              </div>
                              <div class="field" id='no-drop'>
                                <label for="join_date">
                                    <i class="icons">
                                        <i class="red dont icon"></i>
                                        <i class="grey small move icon"></i>
                                      </i>
                                  joined with
                                </label>
                                <select id="join_date" class="ui dropdown" [(ngModel)]="freezing_date_format.join_symbol" (ngModelChange)="updateFreezingDateFormat('join_symbol', $event)">
                                  <option value="/">/</option>
                                  <option value="-">-</option>
                                  <option value=".">.</option>
                                  <option value=" ">space</option>
                                  <option value="">nothing</option>
                                </select>
                              </div>
                              </div>
                            </div>
                            <br />
                            <div class="">                              
                              <small>
                                <span class="grey-text"><i class="icon small chevron right"></i>"3-letter abbreviations": the months are named as <span><span *ngFor="let m of short_months">"{{m}}" </span></span>;</span><br />
                                <span class="grey-text"><i class="icon small chevron right"></i>"full month names": the months are named as <span *ngFor="let m of long_months">"{{m}}" </span>.</span>
                              </small>
                            </div>
                          </div>
                          <div class="eight wide column">
                              <div class="ui divider horizontal">Your freezing date</div>
                            <div class="ui inverted attached segment">
                              <i class="icon caret right"></i>The freezing date in your excel file looks like this: <span class="red-text">{{ displayFreezingDate() }}</span>.
                            </div>
                            <div class="ui two mini buttons attached">
                              <button class="ui positive button" (click)="doneFreezingDateFormat()">
                                <i class="icon checkmark"></i> Looks Good
                              </button>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </thead>
                </table>
            </div>
        </div>
        <div class="ui two mini buttons attached">
          <button class="ui button" (click)="backSecondStep()" *ngIf="!all_set_start_to_upload_file && uploadMode === 2">
            <i class="icon caret left"></i> PREVIOUS </button>
          <button class="ui positive button" (click)="doneColumnHeaders()" 
            *ngIf="(column_header_is_set && !all_set_start_to_upload_file) && (!freezing_date_included || (freezing_date_included && freezing_date_format_is_set ))">
            <i class="icon checkmark"></i> ALL SET & UPLOAD FILE <i class="icon caret right"></i>
          </button>
        </div>
        <!-- end sample type, columns -->
        <!-- ////////////////////////////////// -->
        <!-- drop file -->
        <div class="ui mini segment attached" *ngIf="!uploaded && all_set_start_to_upload_file">
          <!-- no sample found -->
          <div *ngIf="!uploaded && no_valid_sample" class="ui segment center aligned">
            <br/>
            <br/>
            <p>
              <i class="ui massive warning sign icon brown"></i>
            </p>
            <h3 class="ui brown header">The file uploaded is empty!</h3>
            <br/>
            <br/>
          </div>
          <!--failed  -->
          <div *ngIf="!uploaded && excel_parse_failed" class="ui segment center aligned">
            <br/>
            <br/>
            <p>
              <i class="ui massive warning sign icon brown"></i>
            </p>
            <h3 class="ui brown header">Something went wrong, fail to parse the file uploaded!</h3>
            <br/>
            <br/>
          </div>
          <div *ngIf="!uploaded && !parsing_file" class="dropzone" appFileDrop 
            (validFiles)="handleValidFileDrop($event)"
            [allowedExtensions]="allowedFileExtension"
            [allowedMultipleFiles]="allowedMultipleFiles" >
              <div class="text-wrapper">
                <div class="text-center brown-text">DROP YOUR FILE HERE!</div>
              </div>
          </div>
            <!-- parsing file info -->
          <div *ngIf="parsing_file" class="ui loading segment center aligned parse_file_zone">
            <div class="text-wrapper">
              <div class="text-center brown-text">parsing file ... </div>
              </div>
          </div>
            <!-- end drop file -->
        </div>
        <!-- buttons-->
        <div class="ui two mini buttons attached">
          <button class="ui button" (click)="backSecondStep()" *ngIf="all_set_start_to_upload_file && uploadMode === 2">
            <i class="icon caret left"></i> PREVIOUS </button>
          <button *ngIf="uploaded" class="ui blue button" (click)="validateSampleUpload()"> VALIDATE
            <i class="icon caret right"></i>
          </button>
        </div>
        <!-- end buttons-->
        <!-- sample parsed-->
        <div *ngIf="uploaded && data.length > 0" class="ui mini segment attached">
            <table class="ui small very compact unstackable striped teal table">
              <thead>
                  <tr>
                    <th *ngFor="let hdr of original_file_headers_uploaded; let hindex = index;">
                      <span [innerHTML]= "renderExcelHeader(hdr, hindex)"></span>
                    </th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of data | slice:0: data_to_display">
                  <td *ngFor="let val of row">
                    {{val}}
                  </td>
                </tr>
              </tbody>
            </table>            
        </div>
        <div *ngIf="uploaded && data.length > 0" class="ui mini segment attached">
          <p class="grey-text">Only show {{data_to_display}} rows</p>
        </div>
        <!-- end sample parses-->
        <!-- ////////////////////////////////// -->
    </div>
  </div>