<!-- one card -->
  <!-- container image -->
  <div class="image fix_image_height">                
    <img *ngIf="container.photo" src="{{appUrl + container.photo}}" class="ui medium rounded image">
  </div>
  <!-- end container image -->
<!-- container info -->
        <div class="content">                                
          <div class="meta">
            <span class="violet-text"><i class="building outline icon"></i> {{'Name: '+container.name}}</span>
            <a *ngIf="displayMode==='editable'" class="" [routerLink]="['./edit', container.pk]">
              <i class="icon edit teal-text"></i>
            </a>
            <a class="" [routerLink]="['./delete', container.pk]" *ngIf="(!container.has_box && displayMode==='editable')">
                <i class="icon remove circle red-text"></i>
            </a>
            <br>
            <span class=""><i class="caret right icon"></i> {{'Room: '+container.room}}</span><br>
            <span class=""><i class="caret right icon"></i> {{'Temperature : '+ container.temperature+'&deg;C' }}</span><br>
            <span><i class="caret right icon"></i> {{'#Boxes: '+ (container.tower * container.shelf * container.box) }}</span><br>
            <span><i class="caret right icon"></i> {{'#Tower: '+ container.tower}}</span><br>
            <span><i class="caret right icon"></i> {{'#Shelf per tower: '+ container.shelf}}</span><br>
            <span><i class="caret right icon"></i> {{'#Box per shelf: '+ container.box}}</span><br>
            <span><i class="caret right icon"></i> {{'Description: '+ container.description}}</span><br>           
          </div>          
        </div>
<!-- end container info -->
<!-- end one card -->