<div class="ui grid row medium_bottom">
  <div class="sixteen wide column">
    <div class="ui icon top attached info message">
      <i class="icon table"></i>
      <div class="content">
        <div class="header">BOX LABEL: HELP THE APPLICAIOTN TO RECOGNIZE YOUR BOXES</div>
        <p>Please help the application to find the boxes in your excel file, so that the application knows where to
          put the boxes in the container. The box label following the pattern of "tower-shelf-box" is prefered.</p>
        <p>If you have extra "letters" or "digits" in the box labels, you can trim them below.</p>
      </div>
    </div>
    <div class="ui raised mini attached segment left aligned">
      <div class="ui header blue">
        <i class="icon caret right"></i>HOW IS THE BOX LABELD?</div>
    </div>
    <div class="ui three attached huge steps">
      <div class="step step_min_height">
        <div class="ui top left attached teal label">STEP 1</div>
        <div class="content">
          <div class="ui horizontal divider">box label</div>
          <div class="ui slider checkbox">
            <input type="checkbox" name="" id="box_has_label" (change)="toggleBoxHasLabel()" checked="checked">
            <label for="box_has_label">
              <span *ngIf="bLabel.box_has_label" class="">my boxes are labeled (with box position)</span>
              <span *ngIf="!bLabel.box_has_label" class="red-text">my boxes are NOT labeled (without box position)</span>
            </label>
          </div>
        </div>
      </div>
      <div class="step step_min_height">
        <div class="ui top left attached teal label">STEP 2</div>
        <div class="content">
          <div class="ui horizontal divider">box label pattern</div>
          <div class="ui slider checkbox" [ngClass]="{'disabled': !bLabel.box_has_label }">
            <input type="checkbox" name="" id="box_position_definition" (change)="toggleBoxPositionDefinition()" checked="checked" [attr.disabled]="genDisabled()">
            <label for="box_position_definition">
              <span *ngIf="bLabel.box_defined_as_normal" class="">box labeled with "tower", "shelf" and "box"</span>
              <span *ngIf="!bLabel.box_defined_as_normal" class="red-text">box NOT labeled with "tower", "shelf" and "box"</span>
            </label>
          </div>
        </div>
      </div>
      <div class="step step_min_height">
        <div class="ui top left attached teal label">STEP 3</div>
        <div class="content">
            <div class="ui horizontal divider">data column</div>
          <!-- for box_defined_as_normal == true -->
          <div class="ui slider checkbox" *ngIf="bLabel.box_defined_as_normal" [ngClass]="{'disabled': !bLabel.box_has_label }">
            <input type="checkbox" name="" id="box_tsb_one_column" (change)="toggleBoxTSBColumn()" checked="checked" 
            [attr.disabled]="genDisabled()">
            <label for="box_tsb_one_column">
              <span *ngIf="bLabel.box_tsb_one_column" class="">"tower", "shelf" and "box" in one data column</span>
              <span *ngIf="!bLabel.box_tsb_one_column" class="red-text">"tower", "shelf" and "box" in 3 data columns</span>
            </label>
          </div>
          <!-- for box_defined_as_normal == false-->
          <div class="ui slider checkbox" *ngIf="!bLabel.box_defined_as_normal" [ngClass]="{'disabled': !bLabel.box_has_label }">
            <input type="checkbox" name="" id="box_sample_separated" (change)="toggleBoxSampleSeparated()" checked="checked" 
            [attr.disabled]="genDisabled()">
            <label for="box_sample_separated">
              <span *ngIf="bLabel.box_sample_separated" class="">box label is separated from sample label</span>
              <span *ngIf="!bLabel.box_sample_separated" class="red-text">box label is integrated into sample label</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="ui raised mini attached segment left aligned" [ngClass]="{'disabled': !bLabel.box_defined_as_normal || !bLabel.box_has_label }">
      <div class="ui header blue">
        <i class="icon caret right"></i>HOW DOES THE BOX LABEL LOOK LIKE?</div>
    </div>
    <div class="ui attached segment step_min_height" [ngClass]="{'disabled': !bLabel.box_defined_as_normal || !bLabel.box_has_label }">
      <div class="ui top left attached teal label">STEP 4</div>
      <div class="ui form">
        <div class="four fields">
          <div class="field" *ngIf="bLabel.box_tsb_one_column">
            <label for="prefix">prefix to trim</label>
            <div class="ui input" [ngClass]="{'disabled': !bLabel.box_defined_as_normal || !bLabel.box_has_label}">
              <input id="prefix" type="text" placeholder="what to trim" 
              [(ngModel)]="bLabel.prefix" (ngModelChange)="updatebLabel($event, 'prefix')">
            </div>
          </div>
          <div class="field">
            <label for="tower">tower</label>
            <select id="tower" class="ui dropdown" value="" 
            [ngClass]="{'disabled': !bLabel.box_defined_as_normal || !bLabel.box_has_label}" 
            [(ngModel)]="bLabel.tower" (ngModelChange)="updatebLabel($event, 'tower')">
              <option value="1">digits</option>
              <option value="0">letter</option>
            </select>
          </div>
          <div class="field">
            <label for="shelf">shelf</label>
            <select id="shelf" class="ui dropdown" value="" 
            [ngClass]="{'disabled': !bLabel.box_defined_as_normal || !bLabel.box_has_label}" 
            [(ngModel)]="bLabel.shelf" (ngModelChange)="updatebLabel($event, 'shelf')">
              <option value="1" selected>digits</option>
              <option value="0">letter</option>
            </select>
          </div>
          <div class="field">
            <label for="box">box</label>
            <select id="box" class="ui dropdown" 
            [ngClass]="{'disabled': !bLabel.box_defined_as_normal || !bLabel.box_has_label}" 
            [(ngModel)]="bLabel.box" (ngModelChange)="updatebLabel($event, 'box')">
              <option value="1" selected>digits</option>
              <option value="0">letter</option>
            </select>
          </div>
          <div class="field">
            <label for="join">joined with</label>
            <select id="join" class="ui dropdown" 
            [ngClass]="{'disabled': !bLabel.box_defined_as_normal || !bLabel.box_has_label}" 
            [(ngModel)]="bLabel.join" (ngModelChange)="updatebLabel($event, 'join')">
              <option value="-" selected>-</option>
              <option value="/">/</option>
              <option value="~">~</option>
              <option value=".">.</option>
              <option value=";">;</option>
              <option value=" ">space</option>
            </select>
          </div>
          <div class="field" *ngIf="bLabel.box_tsb_one_column">
            <label for="appendix">appendix to trim</label>
            <div class="ui input" [ngClass]="{'disabled': !bLabel.box_defined_as_normal || !bLabel.box_has_label}">
              <input id="appendix" type="text" placeholder="what to trim" 
              [(ngModel)]="bLabel.appendix" (ngModelChange)="updatebLabel($event, 'appendix')">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui mini red tertiary segment attached">
      <div class="text-center" *ngIf="!bLabel.box_has_label">
          <span class="red-text">your boxes are NOT labeled</span>
      </div>
      <div class="text-center" *ngIf="bLabel.box_has_label">your box label looks like this:
        <span *ngIf="bLabel.box_defined_as_normal">
          <span class="red-text"><s>{{bLabel.prefix}}</s></span><strong class="red-text">{{ genOneorA(bLabel.tower) }}{{ bLabel.join }}{{ genOneorA(bLabel.shelf) }}{{ bLabel.join}}{{ genOneorA(bLabel.box) }}</strong><span class="red-text"><s>{{bLabel.appendix}}</s></span>
        </span>
        <span *ngIf="!bLabel.box_defined_as_normal">your box label doesn't follow the pattern of "tower-shelf-box"</span>
        <span *ngIf="!bLabel.box_defined_as_normal && bLabel.box_sample_separated">your box label doesn't follow the pattern of "tower-shelf-box" and is stored as a separated data column</span>
        <span *ngIf="!bLabel.box_defined_as_normal && !bLabel.box_sample_separated">your box label doesn't follow the pattern of "tower-shelf-box" and is integrated with sample label</span>
      </div>
    </div>
    <div class="ui two mini buttons bottom attached">
      <button class="ui blue button" (click)="saveFirstStep()"> NEXT
        <i class="icon caret right"></i>
      </button>
    </div>
  </div>
</div>