<div class="ui one column stackable center aligned page grid huge-padding">
   <div class="column eight wide">     
       <div class="center floated column">
         <!--form header-->
          <h2 class="ui header teal image">
            <img>
            <div class="content">CHANGE YOUR PASSWORD</div>
          </h2>
          <!--form-->
          <form [formGroup]="passwordForm" class="ui large form" (ngSubmit)="passwordForm.valid && onSubmit(passwordForm.value)">
            <div class="ui stacked segment">
              <div class="field" [class.error]="passwordForm.controls['old_password'].invalid && passwordForm.controls['old_password'].touched">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="text" id="old_password" [formControl]="passwordForm.controls['old_password']" placeholder="Current Password">
                </div>
                <div *ngIf="passwordForm.controls['old_password'].hasError('required') && passwordForm.controls['old_password'].touched" class="ui mini negative message">Current password is required</div>
                <div *ngIf="passwordForm.controls['old_password'].touched && passwordForm.controls['old_password'].hasError('currentPasswordAsyncInvalid')" class="ui mini negative message">Current password is wrong</div>
              </div>
              <div class="field" [class.error]="passwordForm.controls['password1'].invalid && passwordForm.controls['password1'].touched">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" id="password1" [formControl]="passwordForm.controls['password1']" placeholder="New Password">
                </div>  
                <div *ngIf="passwordForm.controls['password1'].hasError('required') && passwordForm.controls['password1'].touched" class="ui mini negative message"><p>Password is required</p></div>
                <div *ngIf="(passwordForm.controls['password1'].value !== passwordForm.controls['password2'].value) && (passwordForm.controls['password1'].touched && passwordForm.controls['password2'].touched)" class="ui mini negative message">
                  <p>Passwords don't match</p>
                </div>
              </div>
              <div class="field" [class.error]="passwordForm.controls['password2'].invalid && passwordForm.controls['password2'].touched">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" id="password2" [formControl]="passwordForm.controls['password2']" placeholder="New Password Again">
                </div>  
                <div *ngIf="passwordForm.controls['password2'].hasError('required') && passwordForm.controls['password2'].touched" class="ui mini negative message"><p>Password is required</p></div>
                <div *ngIf="passwordForm.controls['password2'].hasError('passwordInvalid') && passwordForm.controls['password2'].touched" class="ui mini negative message">
                  <p>Password must contains at least: 1 uppercase letter, 2 lowercase letters, 2 digits and must be longer than 8 characters.</p>
                </div>
                <div *ngIf="(passwordForm.controls['password1'].value !== passwordForm.controls['password2'].value) && (passwordForm.controls['password1'].touched && passwordForm.controls['password2'].touched)" class="ui mini negative message">
                  <p>New Passwords don't match</p>
                </div>
              </div>
              <button type="submit" class="ui fluid teal button">
                <i class="icon edit"></i>
                Change Password
              </button>
            </div>
          </form>
      </div>
   </div>
</div>