<div class="ui grid small_padding stackable">
  <div class="four wide column">
    <h3 class="ui violet left aligned header"><i class="icon grid outline"></i>CONTAINERS</h3>
  </div>
  <div class="ten wide column">
    <div class="ui slider checkbox">
      <input type="checkbox" name="" id="table_view" (change)="toggleList()">
      <label for="table_view">
        <span *ngIf="tableView" class="violet-text">CARD OVERVIEW</span>
        <span *ngIf="!tableView" class="violet-text">LIST OVERVIEW</span>
      </label>
    </div>
  </div>
  <!-- new container -->
  <div class="two wide column">
    <a class="ui violet button float-right" [routerLink]="['./add']"><i class="icon add circle"></i>CONTAINER</a>
  </div>
  <!-- end new container -->
</div>
<div class="ui grid small_padding">
  <!-- card view -->
  <div class="ui cards" *ngIf="!tableView">
    <!-- one card -->
      <div class="ui black raised card" *ngFor="let container of containers | async; let c = index">
        <!-- container image -->
        <div class="image fix_image_height">                
            <img *ngIf="container.photo" src="{{appUrl + container.photo}}" class="ui medium rounded image">
        </div>
        <!-- end container image -->
        <!-- container info -->
        <div class="content">                                
          <div class="meta">
            <span class="violet-text"><i class="building outline icon"></i> {{'Name: ' + container.name}}</span>
            <!-- container group --> 
            <a class="" [routerLink]="['./edit', container.pk]">
              <i class="icon edit teal-text"></i>
            </a>
            <a class="" [routerLink]="['./delete', container.pk]" *ngIf="!container.has_box">
                <i class="icon remove circle red-text"></i>
            </a>
            <!-- end container group --> 
            <br>
            <span class=""><i class="caret right icon"></i> {{'Room: '+container.room}}</span><br>
            <span class=""><i class="caret right icon"></i> {{'Temperature : '+ container.temperature+'&deg;C' }}</span><br>
            <span><i class="caret right icon"></i> {{'#Boxes: '+ (container.boxes == null ? 0 : container.boxes.length) }}</span><br>
            <span><i class="caret right icon"></i> {{'#Tower: '+ container.tower}}</span><br>
            <span><i class="caret right icon"></i> {{'#Shelf per tower: '+ container.shelf}}</span><br>
            <span><i class="caret right icon"></i> {{'#Box per shelf: '+ container.box}}</span><br>
            <span><i class="caret right icon"></i> {{'Description: '+ container.description}}</span><br>           
          </div>          
        </div>
        <!-- end container info -->
        <!-- container groups -->
        <!-- <div class="extra" *ngIf="container.groups && container.groups.length > 0">
          <h5 class="ui header meta">Groups</h5>
          <div class="ui six cards" >
            <div class="ui teal raised card" *ngFor="let group of container.groups; let g = index">
              <div class="ui avatar image">
                <img src="{{ appUrl + group.photo }}" suiPopup popupHeader="{{group.group_name +'/'+ group.pi}}" popupText="{{group.email}}">
                <a suiPopup popupHeader="Remove Group" popupText="click to remove" (click)="removefromGroup(container.pk, group.pk)">
                  <i class="ui teal remove circle outline icon"></i>
                </a> 
              </div>            
            </div>                  
          </div>
        </div>         -->
        <!-- container groups -->
        <!-- add container to group -->
        <!-- <div class="extra">
          <h5 class="ui header meta">Add to Groups</h5>
          <div class="">            
            <select class="ui dropdown fluid selection" (change)="add2Group(container.pk, selectionCtl)" #selectionCtl>
              <option value="">-- select --</option>
              <option [ngClass]="{hidden: isGroup(container.groups, group) }" [value]="group.pk" *ngFor="let group of groups | async">{{group.group_name +'/'+ group.pi}}</option>
            </select>
          </div>
        </div> -->
        <!-- end adding container to group -->      
      </div>
      <!-- end one card -->
  </div>
  <!-- end card view -->
  <!-- table view -->
  <div class="sixteen wide column" *ngIf="tableView">
    <table class="ui structured small teal single line compact padded table">
    <thead>
      <tr>
        <th class="center aligned">Containers</th>       
        <!-- <th colspan="4" class="center aligned left-bordered">Boxes</th> -->
        <th colspan="4" class="center aligned left-bordered">Groups</th>
      </tr>
      <tr>
        <th class="center aligned">Name</th>
        <th class="left-bordered">Group</th>
        <th class="">PI</th>
        <th class="">Email</th>
        <th class="">Telephone</th>
      </tr>
    </thead>
    <tbody *ngFor="let container of containers | async" class="bordered">
      <tr *ngFor="let i of genArray(renderRowSpan(container))">
        <!-- container info -->
        <td *ngIf="i===1" [attr.rowspan]="rowspan"> 
          <h4 class="ui image header">
            <img src="{{appUrl + container.photo}}" class="ui mini rounded image">
            <div class="content">
              {{container.name}}
              <!-- manage container -->
              <a class="" [routerLink]="['./edit', container.pk]">
              <i class="icon edit teal-text"></i>
              </a>
              <a class="" [routerLink]="['./delete', container.pk]" *ngIf="!container.has_box">
                  <i class="icon remove circle red-text"></i>
              </a>
              <!-- end manage container -->
            <div class="sub header">{{container.room}}</div>
            <div class="sub header">{{container.description}}</div>
            <div class="sub header">Temperature:{{container.temperature+'&deg;C'}}</div>
            <div class="sub header">#Towers: {{container.tower}}</div>
            <div class="sub header">#Shelves: {{container.shelf}}</div>
            <div class="sub header">#Boxes: {{container.box}}</div>
            </div>
          </h4>         
        </td>
        <!-- groups info -->
        <td class="left-bordered">          
          <h4 class="ui image header" *ngIf="container.groups && container.groups.length >= i">
            <img *ngIf="container.groups[i-1].photo" src="{{ appUrl + container.groups[i-1].photo }}" class="ui mini rounded image">
            <div class="content">
              {{ (container.groups && container.groups.length >= i) ? container.groups[i-1].group_name : "" }}
              <a (click)="removefromGroup(container.pk, container.groups[i-1].pk)">
                  <i class="ui teal remove circle outline icon clickable"></i>
                </a>
              <div class="sub header">{{ (container.groups && container.groups.length >= i && container.groups[i-1].department) ? container.groups[i-1].department : "" }}</div>
            </div>
          </h4>           
        </td>
        <td>{{ (container.groups && container.groups.length >= i) ? container.groups[i-1].pi_fullname + '/' + container.groups[i-1].pi : "" }}</td>
        <td>{{ (container.groups && container.groups.length >= i) ? container.groups[i-1].email : "" }}</td>
        <td>{{ (container.groups && container.groups.length >= i && container.groups[i-1].telephone) ? container.groups[i-1].telephone : "" }}</td>
        <!-- groups info -->
      </tr>
    </tbody>
  </table>
  </div>
<!-- end table view -->
</div>