<div>
    <swiper class="swiper" [config]="config">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div>
                        <img class="ui image" src="../../assets/images/containers.jpeg" height="600">
                        <div class="ui divider"></div>
                        <span>DRECRITPION</span>  
                    </div>                             
                </div>
                <div class="swiper-slide">
                    <div>
                        <img class="ui image" src="../../assets/images/boxes.jpeg">
                        <div class="ui divider"></div>
                        <span>DRECRITPION</span>  
                    </div>     
                </div>
                <div class="swiper-slide">
                    <div>
                        <img class="ui image" src="../../assets/images/search-sample.jpeg">
                        <div class="ui divider"></div>
                        <span>DRECRITPION</span>  
                    </div>          
                </div>
                <div class="swiper-slide">
                    <div>
                        <img class="ui huge rounded image" src="../../assets/images/list_view.jpeg" >
                        <div class="ui divider"></div>
                        <span>DRECRITPION</span>  
                    </div>   
                </div>
                <div class="swiper-slide">
                    <div class="ui equal width grid">
                        <div class="column">
                            <img class="ui image" src="../../assets/images/panel-single-sample.jpeg" height="600">
                            <div class="ui divider"></div>
                            <span>DRECRITPION</span>  
                        </div>
                        <div class="column"> 
                            <img class="ui image" src="../../assets/images/panel-multiple-samples.jpeg" height="600">
                            <div class="ui divider"></div>
                            <span>DRECRITPION</span>  
                        </div>
                        <div class="column">
                            <img class="ui image" src="../../assets/images/panel-add-samples.jpeg" height="600">
                            <div class="ui divider"></div>
                            <span>DRECRITPION</span>  
                        </div>
                    </div>      
                </div>
                <div class="swiper-slide">
                    <div>
                        <img class="ui image" src="../../assets/images/admin-groups.jpeg" height="600">
                        <div class="ui divider"></div>
                        <span>DRECRITPION</span>  
                    </div>          
                </div>
                <div class="swiper-slide">
                    <div>
                        <img class="ui image" src="../../assets/images/admin-containers.jpeg" height="600">
                        <div class="ui divider"></div>
                        <span>DRECRITPION</span>  
                    </div>  
                </div>            
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
    </swiper>
</div>
