<div class="ui vertical inverted masthead center aligned segment">
    <div class="ui right large icon secondary inverted pointing menu">
        <a [routerLink]="['../home']" class="active item"><i class="home icon"></i> Home</a>
        <a [routerLink]="['../home']" class="item"><i class="block layout icon"></i> Features</a>
        <a [routerLink]="['../home']" class="item"><i class="info icon"></i>About</a>
        <a class="right item"><i class="github icon"></i> Source</a>
      </div>
    <div class="ui container">
        <h1 class="ui inverted header">
            BioKu   
        </h1>
        <h2 class="inverted">
            An Open-Source Container System for Biomaterials
        </h2>
    </div>
    <div class="ui divider"></div>
    <a [routerLink]="['../login']" class="ui teal button">
        <i class="sign in icon"></i>
        Log In
    </a>
    <a [routerLink]="['../register']" class="ui inverted basic button">
        <i class="add user icon"></i>
        Sign Up
    </a>
</div>
