<div class="ui grid row">
  <div class="eight wide column"></div>
  <div class="eight wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>
<div class="ui grid row small_padding">
  <div class="ten wide column extra_top_margin">
    <h3 class="ui violet left aligned header ">{{appName}} UPLOADER</h3>  
  </div>
  <div class="six wide column" > 
    <div class="two ui buttons float-right">
        <button class="ui black button" 
        *ngIf="!load_failed && !loading && allowUpload && simple_or_advanced_mode === 0"
        (click)="chooseUploadMode(2)">
        <i class="icon options"
        ></i> ADVANCED MODE</button>
        <a class="ui button" [routerLink]="['/containers', id]"><i class="icon caret left"></i>CANCEL</a>
    </div>
  </div>
</div>

<div class="ui segment small_padding"  
*ngIf="!load_failed && !loading && allowUpload && simple_or_advanced_mode === 0">
  <div class="ui two column stackable grid">
    <div class="column">
        <div class="ui message">
            <div class="header">PLEASE READ THIS FOLLOWING BEFORE PROCEED:</div>
            <div class="content">
                <p>
                  <i class="icon caret right"></i>
                  The {{appName}} uploader only accept a MS excel file ('.xlsx') file. Please upload only the 
                  <span><em>MS excel file ('.xlsx')</em></span>, 
                  containing a <em>single datasheet</em> of the <em>same type/content</em>.
                </p>
                <p>
                  <i class="icon caret right"></i>
                  The excel file should contain details about where to put boxes 
                  (from <em>box labels</em>) into a container and where to put samples
                  (from <em>sample labels</em>) into a box 
                  (from <em>box dimension/layout</em>)
                </p>
                <p>
                  <i class="icon caret right"></i>
                  the {{appName}} uploader uses the pattern of "TOWER-SHELF-BOX" to put a box in a container, where a "TOWER" may contain several
                  "SHELVES" (similar to drawers) and each "SHELF" may contain several "BOXES". 
                  It is highly recommended that all the boxes are labeled following the pattern of '
                  <span><em>TOWER-SHELF-BOX</em></span>', 
                  for example '1<sup>(tower)</sup>-1<sup>(shelf)</sup>-1<sup>(box)</sup><span>'</span>;
                </p>
                <p>
                  <i class="icon caret right"></i>
                  It is highly recommended that the all the box layouts are <em>9 rows x 9 columns</em> 
                  and that all the samples are labeled following the pattern of '<span><em>ROW-COLUMN</em></span>', for example 'A1'.
                  The samples fall outside the box layout will be IGNORED SILENTLY;
                </p>
                <p>
                  <i class="icon caret right"></i>
                  The {{appName}} uploader allows you to specify various date formats; You will be asked to provide the date
                  format, if necessary. However, it is highly recommended that all the dates are saved as 'YYYY-MM-DD', for example '2017-12-25';
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui message">
            <div class="header"></div>
            <div class="content">
              <p>
                <i class="icon caret right"></i>
                You will be asked to match cloumns in the excel file to sample data attributes, so that the {{appName}} uploader understands other details of a sample.
                The sample data attributes depend on the type/content specified;
              </p>
              <p>
                <i class="icon caret right"></i>
                The {{appName}} uploader has many build-in validators. 
                You can continue uploading your data only when all the validators pass with no erros. 
                Please always read carefuly the validation reports; 
              </p>
              <p>
                <i class="icon caret right"></i>
                The {{appName}} uploader will NOT override any box or sample already in your container; If the uploader detects the existence
                of a box or a sample in the container, it will IGNORE SILENTLY the sample(s) in your excel file and move to the next sample;
                therefore, you might end up uploading less samples and it is always recommended to check carefully what will actually be upladed; 
                for this reason. we only allow to upload samples for a newly added container.
              </p>
              <p>
                <i class="icon caret right"></i>
                If your boxes or samples are not saved as we recommended in the excel file, please format them before uploading;
                you can also use the <span class="ui black label">ADVANCED MODE</span> above;
              </p>
          </div>
        </div>
    </div>
  </div>
</div>
<button class="ui fluid blue small bottom attached button small_padding" 
*ngIf="!load_failed && !loading && allowUpload && simple_or_advanced_mode === 0"
(click)="chooseUploadMode(1)">
  <i class="icon wizard"></i> 
  EXPRESS MODE 
</button>

<div class="ui grid row small_padding" 
*ngIf="!load_failed && !loading && allowUpload">
    <app-container-sample-upload-helper
    [uploadMode]="simple_or_advanced_mode"
    class="sixteen wide column" 
    *ngIf="allowUpload && simple_or_advanced_mode !== 0">
  </app-container-sample-upload-helper>
</div>

<!--loading info-->
<div *ngIf="loading" class="ui loading segment center aligned">
  <br/><br/><br/><br/>
  <p class="brown-text">loading current container ... </p>
</div>

<!--failed  -->
<div *ngIf="!loading && load_failed" class="ui tertiary segment center aligned">
  <br/><br/><br/>
  <p><i class="ui massive warning sign icon brown"></i></p>
  <h3 class="ui brown header">Something went wrong, fail to load current container from the server!</h3>
  <br/><br/><br/>
</div>

<div *ngIf="!allowUpload && !loading && !load_failed" class="ui tertiary segment center aligned">
  <br/><br/><br/>
  <p><i class="ui massive warning sign icon brown"></i></p>
  <h3 class="ui brown header">You are not allowed to upload samples to the current container any more!</h3>
  <br/><br/><br/>
</div>