<div class="ui one column stackable center aligned page grid huge-padding">
  <div class="column eight wide">     
      <div class="center floated column">
        <!--form header-->
         <h3 class="ui header center aligned">
            <i class="icon mail outline teal-text"></i>
           <div class="content teal-text">FORGOT PASSWORD</div>
         </h3>
         <!--form-->
         <form [formGroup]="forgetForm" class="ui large form" (ngSubmit)="forgetForm.valid && onForget(forgetForm.value)">
           <div class="ui stacked segment">
             <div class="field" [class.error]="forgetForm.controls['email'].invalid && forgetForm.controls['email'].touched">
               <div class="ui left icon input">
                 <i class="mail icon"></i>
                 <input type="email" id="email" [formControl]="forgetForm.controls['email']" placeholder="Email">
               </div>
               <div *ngIf="forgetForm.controls['email'].hasError('required') && forgetForm.controls['email'].touched" class="ui mini negative message">Email is required!</div>
               <div *ngIf="forgetForm.controls['email'].hasError('email') && forgetForm.controls['email'].touched" class="ui mini negative message">Email is invalid!</div>
               <!-- <div *ngIf="!forgetForm.controls['email'].hasError('emailAsyncInvalid') && forgetForm.controls['email'].touched" class="ui mini negative message">Email not found!</div> -->
             </div>
             <button type="submit" class="ui fluid teal button">
               <i class="icon mail outline"></i>
               Reset Password
             </button>      
           </div>
         </form>                 
     </div>
  </div>
</div>