<div class="">
  <table class="ui small unstackable celled single line fixed padded table" [style.border-top]="genBorderStyle(color)">
    <thead>
      <tr>
        <th class="center aligned">
          <a suiPopup popupHeader="Help" 
            popupText="drag and drop a sample to change its position; click on samples or empty slots to take further actions">
            <i class="icon large help circle grey-text"></i>
          </a>
        </th>
        <th *ngFor="let h of hArray" class="center aligned"><em class="">{{h}}</em></th>
      </tr>
    </thead>
    <tbody class="wrapper">
      <tr *ngFor="let v of vArray">
        <td class="center aligned"><em class="">{{v}}</em></td>
        <td class="center aligned clickable sample-cell container"
          [attr.position]="v+'-'+h"
          [dragula]='"bag"' [dragulaOptions]="dragulaOptions"
          *ngFor="let h of hArray" (click)="toggleSelection(h,v)" 
          [ngClass]="{'sample-cell-selected': selectedCells.indexOf(v+h) !==- 1, 'search-matched-sample': searchedBoxSamples.indexOf(v+h) !==- 1 }">
          <div *ngFor="let sample of pickerSamples(h,v)">
            <div class="ui horizontal label">
              <!-- <i class="icon circle" [style.color]="sample.color"></i> -->
              <span [style.color]="sample.color">{{sample.name}}</span></div>
            <div>{{sample.freezing_date}}</div>
          </div>                   
        </td>
      </tr>
    </tbody>
      <tfoot class="full-width">
        <tr>
          <th class="no_side_padding no_side_margin" [attr.colspan]="colspanCount">
            <sui-progress class="indicating tiny" [value]="currentSampleCount" [maximum]="totalBoxCapacity" [autoSuccess]="true" [precision]="0">
              <div [style.color]="color">
                <span class="header">Box: {{box.box_position}}</span>
                <span class="">(<i class="icon pie chart"></i>{{currentSampleCount}} Samples)</span>
              </div>
            </sui-progress>            
          </th>
        </tr>
        <tr>
          <th [attr.colspan]="colspanCount">
            <div class="ui grid">
                <div class="ten wide column">
                    <span class="header">BOX DESCRIPTION: </span>
                    <div class="ui fluid icon input">
                      <input class="" type="text" [(ngModel)]="box.description" placeholder="update box description ..." (ngModelChange)="updateDescription($event, box.box_position)">
                      <i class="refresh icon"></i>
                    </div>
                </div>
                <div class="six wide column">
                    <span class="header">BOX LABEL: </span>
                    <div class="ui fluid icon input">
                      <input class="" type="text" [(ngModel)]="box.label" placeholder="user defined box label ..." (ngModelChange)="updateLabel($event, box.box_position)">
                      <i class="refresh icon"></i>
                    </div>
                </div>   
            </div>                     
          </th>
        </tr>      
        <tr>        
          <th [attr.colspan]="colspanCount">                      
            <div class="ui right floated">
              <h5 class="header">Box Rating</h5>
              <a (click)="clearRate(box.box_position)" *ngIf="rate===1"><i class="icon caret left"></i></a>
              <sui-rating class="heart" [ngModel]="rate" max="5" (ngModelChange)="updateRate($event, box.box_position)"></sui-rating>
            </div>
            <div [style.color]="color">
              <span class="header">Box ({{box.box_position}}) Color: </span>
            </div>
            <div>
                <color-picker [(ngModel)]="color" (ngModelChange)="updateColor($event, box.box_position)" [availableColors]="availableColors" [pickerConfig]="pickerOptions"></color-picker>
            </div>
          </th>
        </tr>
    </tfoot>
  </table>
</div>