<div class="ui top attached center aligned teal segment">
  <span class="teal-text">MODIFY ATTRIBUTE</span>
  <a class="ui tiny basic button right floated" [routerLink]="['../']">
    <i class="caret left icon"></i>CANCEL
  </a>
</div>
<div class="ui attached segment">
  <form [formGroup]="cAttrForm" class="ui large form" (ngSubmit)="cAttrForm.valid && onUpdate(cAttrForm.value)">
    <div class="twe fields">
        <div class="field" [class.error]="cAttrForm.controls['attr_name'].invalid && cAttrForm.controls['attr_name'].touched">
            <label class="required left floated">ATTR NAME</label>
            <div class="ui teal input">
                <input type="text" id="attr_name" [formControl]="cAttrForm.controls['attr_name']" placeholder="required">
            </div>
            <div *ngIf="cAttrForm.controls['attr_name'].hasError('required') 
            && cAttrForm.controls['attr_name'].touched" 
            class="ui mini negative message">
                The attr name is required!
            </div>
            <div *ngIf="!cAttrForm.controls['attr_name'].hasError('required') 
            && cAttrForm.controls['attr_name'].hasError('nameInvalid') 
            && cAttrForm.controls['attr_name'].touched" 
            class="ui mini negative message">
                The attr name is invalid. The attr name must contain only letters, numbers (not at the beginning), "-" or "_"!
            </div>
            <div *ngIf="!cAttrForm.controls['attr_name'].hasError('required') 
            && !cAttrForm.controls['attr_name'].hasError('nameInvalid') 
            &&cAttrForm.controls['attr_name'].hasError('ctypeAttrAsyncInvalid') 
            && cAttrForm.controls['attr_name'].touched" 
            class="ui mini negative message">
                The attr name alreay exists, please choose a different name!
            </div>
          </div>
          <div class="field">
            <label class="left floated">VALUE TYPE</label>
            <div class="ui input">                        
              <select class="ui dropdown" id="attr_value_type" value="" (change)="changeValueType($event)"
              [formControl]="cAttrForm.controls['attr_value_type']">
                  <option value="3">the attr has sub attrs</option>
                  <option value="0">textile value</option>
                  <option value="1">integer value</option>
                  <option value="2">decimal value</option>
                  <option value="4">date</option>
              </select>
            </div>
          </div>
    </div>
    <div class="two fields">
      <div class="inline field" *ngIf="value_type !== 3">
        <label class="left floated">VALUE REQUIRED?</label>
        <div class="ui toggle checkbox" >
          <input type="checkbox" id="attr_required" 
          [formControl]="cAttrForm.controls['attr_required']">
          <label for="attr_required">YES</label>
        </div>
      </div>
      <div class="inline field" *ngIf="value_type === 0">
        <label class="left floated">TEXT SIZE: </label>
        <div class="ui toggle checkbox">
          <input type="checkbox" name="attr_value_text_max_length" 
          id="attr_value_text_max_length" value="50"
          [formControl]="cAttrForm.controls['attr_value_text_max_length']">
          <label for="attr_value_text_max_length">LONG TEXT</label>
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field" *ngIf="value_type === 1 || value_type === 2">
        <label class="left floated">MAXIMAL DIGIT LENGTH</label>
        <div class="ui input">
          <input class="" type="number" value="5" maxlength="10" 
          id="attr_value_decimal_total_digit" 
          [formControl]="cAttrForm.controls['attr_value_decimal_total_digit']" 
          placeholder="max digit length">
        </div>
      </div>
      <div class="field" *ngIf="value_type === 2">
        <label class="left floated">DECIMAL POINTS</label>
        <div class="ui input">
          <input class="" type="numner" value="2" maxlength="9" 
          id="attr_value_decimal_point" 
          [formControl]="cAttrForm.controls['attr_value_decimal_point']" 
          placeholder="decimal points">
        </div>
      </div>
    </div>
    <button type="submit" class="ui fluid button" 
    [ngClass]="cAttrForm.valid && cAttrForm.touched? 'primary': 'noEvent'">
      <i class="icon add circle"></i> SAVE ATTR 
    </button>
  </form>
</div>