<div class="ui grid row medium_padding">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon search"></i>SEARCH SAMPLES</h3>
  </div>
  <div class="six wide column">
      <a class="ui blue button float-right" [routerLink]="['/containers/']"><i class="icon caret left"></i>CONTAINERS</a>
      <a *ngIf="toogleSearch" class="ui blue button float-right" (click)="showAgain()"><i class="icon repeat"></i>SEARCH AGAIN</a>
  </div>
</div>

<div class="ui grid row small_padding">
  <div class="sixteen wide column">
    <app-sample-search-form 
    (searchObj)="captureSearchObj($event)" 
    [searchAgain]="searchAgain">
  </app-sample-search-form>
  </div>
</div>

<div *ngIf="!searching && !show_error" class="ui grid row small_padding">
  <div *ngIf="samples.length > 0" class="ui horizontal divider header grey-text"><i class="bar chart icon"></i>matched samples</div>
  <div *ngIf="samples.length > 0" class="eight wide column">
      <app-sample-deep-filter (deepSampleFilter)="updateDeepFilteredSampleList($event)"></app-sample-deep-filter>
  </div>
  <div *ngIf="ALLOW_DOWNLOAD_EXPORT && samples.length > 0" class="eight wide column right aligned">
      <a class="ui teal button" 
      appExportSample
      [samples]="searchedSamples">
          <i class="icon save"></i>SAVE
      </a>
  </div>
  <div class="sixteen wide column">
    <app-sample-search-result 
    [searched]="searched"
    [samples]="searchedSamples" 
    (sampleDbClicked)="captureDbClickedSample($event)"
    (sampleSelected)="captureSampleSelected($event)">
    </app-sample-search-result>
    <div *ngIf="selectedSamples.length > 0" class="sticky-search-top-left">
      <app-sample-search-action-panel 
      [selectedSamplePks]="selectedSamplePks"
      [selectedSamples]="selectedSamples">
      </app-sample-search-action-panel>
    </div>
  </div>
</div>
<!-- modal -->
<div class="sixteen wide column">
    <app-sample-detail-model [samples]="samples" [samplePK]="dbClickedSamplePK" [DbClickCount]="DbClickCount"></app-sample-detail-model>
  </div>
<!-- searching -->
<div *ngIf="searching" class="ui loading segment center aligned">
  <br/><br/><br/><br/>
  <p class="brown-text">searching samples ... </p>
</div>

<!-- error -->
<div *ngIf="show_error" class="ui tertiary segment center aligned">
  <br/><br/><br/><br/>
  <p><i class="ui massive icon warning sign brown-text"></i></p>
  <p class="brown-text">Something went wrong from the server side, please try again later!</p>
</div>