<div class="ui raised red segment">
  <div *ngIf="selectedSamples != null && selectedSamples.length > 0">
    <p *ngFor="let pk of selectedSamples"> {{pk}}</p>
  </div>
  <div *ngIf="selectedSamples == null || selectedSamples.length == 0" class="ui list">
    <div class="item">Click one sample to display the sample details</div>
    <div class="item">Select multiple samples to take batch actions</div>
    <div class="item">Click add sample button to add a sample</div>
  </div>
</div>


<!--
ag2 drag drop
https://www.npmjs.com/package/angular-drag-drop
https://www.npmjs.com/package/ng2-drag-drop
https://www.npmjs.com/package/angular2-draggable

  -->