<div class="ui grid row">
  <div class="sixteen wide column">   
    <div class="ui stackable floated right menu small sidebar_menu_offset">
      <a class="item disabled">
        <span class="brown-text">WELCOME TO ADMIN DASHBOARD</span>
      </a>
      <a class="teal item" [routerLink]="['/admin/groups']">
        GROUPS
        <div class="ui teal left pointing label">{{gCount}}</div>
      </a>
      <a class="orange item" [routerLink]="['/admin/users']">
        USERS
        <div class="ui orange left pointing label">{{uCount}}</div>
      </a>
      <a class="violet item" [routerLink]="['/admin/containers']">
        CONTAINERS
        <div class="ui violet left pointing label label">{{cCount}}</div>
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
