<div class="ui grid row">
  <div class="sixteen wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>
<div class="ui grid row small_padding">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon sune outline"></i>MANAGE BOX</h3>
  </div>
  <div class="six wide column">
    <a class="ui small teal button float-right" [routerLink]="['/containers/overview', container.pk]">
      <i class="icon caret left"></i>BACK
    </a>
  </div>
</div>
<!--loading info-->
<div *ngIf="loading==true" class="ui loading segment center aligned">
  <br/><br/><br/><br/>
  <p class="brown-text">loading box samples ... </p>
</div>

<div class="ui container segments"  *ngIf="loading==false">
  <div class="ui grid attached horizontal segments">
    <div class="ui six wide column segment">
        <div class="ui card">
          <!-- HEAD -->
          <div class="content box_cardview" [style.background-color]="color" *ngIf="box != null">
            <div class="right floated">Box: {{box.box_position}} <span *ngIf="show_user_defined_label && box.label">/{{box.label}}</span></div>
            <img *ngIf="box.researchers && box.researchers[0].profile && box.researchers[0].profile.photo" class="ui avatar image" src="{{appUrl + box.researchers[0].profile.photo}}">
            <span class="meta" *ngIf="box.researchers">{{box.researchers[0].first_name.toUpperCase()+ " " + box.researchers[0].last_name.toUpperCase()}}</span>         
          </div>
          <!-- LAYOUT -->
          <div *ngIf="box != null">
            <table class="ui small unstackable celled single line fixed table">
              <thead>
                <tr>
                  <th class="nopadding"></th>
                  <th *ngFor="let h of bhArray" class="left aligned nopadding"><small class="">{{h}}</small></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of bvArray">
                  <th class="center aligned nopadding"><small class="">{{v}}</small></th>
                    <!--clickable sample-cell-->
                  <td class="center aligned tight_around" *ngFor="let h of bhArray">
                    <div *ngFor="let sample of pickerSamples(h,v)" class="fix_size_div" [style.background-color]="genBackgroundColor(sample.color)">
                    </div>                   
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- RATE -->
          <!-- <div class="content" *ngIf="box != null">
            <span class="ui bottom right floated">
              <a (click)="clearRate(box.box_position)" *ngIf="rate===1"><i class="icon caret left"></i></a>
              <sui-rating class="heart" [ngModel]="rate" max="5" (ngModelChange)="updateRate($event, box.box_position)"></sui-rating> 
            </span>
            <i class="icon pie chart"></i>{{currentSampleCount}} Samples
          </div> -->
        </div>
    </div>
    <div class="ui ten wide column segment">
      <div class="ui cards">
        <!--box layout-->
        <div class="ui teal raised card">
            <div class="content">
              <div class="header">BOX LAYOUT (<span>{{box_horizontal}}X{{vArray.length}}</span>)</div>
              <div class="meta" *ngIf="allow_change_box_layout">
                  <i class="announcement icon"></i>
                  <span>Select the dropdowns below to change the layout!</span>
              </div>
              <div class="meta" *ngIf="allow_change_box_layout==false">
                <i class="announcement icon"></i>
                <span>Change to layout is not allowed!</span>
              </div>
              <div class="description" *ngIf="allow_change_box_layout">
                <div class="ui form tiny small_vertial_padding">
                  <div class="ui inline fields">
                    <div class="field">
                      <label>horizontal: </label>
                      <select name="horizontal" [(ngModel)]="box_horizontal" class="ui fluid dropdown" (ngModelChange)="updateLayout($event, 'horizontal')" #horizontalCtl>               
                        <option *ngFor="let option of genHorizontalOptions()" [ngValue]="option">{{option}}</option>
                      </select>
                    </div>
                    <div class="field">
                      <label>vertical: </label>
                      <select name="vertical" [(ngModel)]="box_vertical" class="ui fluid dropdown" (ngModelChange)="updateLayout($event, 'vertical')" #verticalCtl>               
                        <option *ngFor="let option of genVerticalOptions()" [ngValue]="option">{{option}}</option>
                      </select>
                    </div>
                  </div>                       
                </div>
              </div>
            </div>
          </div>
          <!--box owner -->
          <div class="ui teal raised card">
            <div>test</div>
          </div>
      </div>  
    </div>
  </div>
  <div class="ui red inverted bottom attached button" (click)="remove_box()">
    <p>REMOVE BOX</p>
  </div>
</div>