<div class="ui grid row">
  <div class="sixteen wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>
<div class="ui grid row small_padding">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon sune outline"></i>MANAGE BOX</h3>
  </div>
  <div class="six wide column">
    <a class="ui small teal button float-right" [routerLink]="['/containers/overview', container.pk]">
      <i class="icon caret left"></i>BACK
    </a>
  </div>
</div>
<!--loading info-->
<div *ngIf="loading==true" class="ui loading segment center aligned">
  <br/><br/><br/><br/>
  <p class="brown-text">loading box samples ... </p>
</div>

<div class="ui container segments"  *ngIf="loading==false">
  <div class="ui grid attached horizontal segments">
    <div class="ui six wide column segment">
        <div class="ui card">
          <!-- HEAD -->
          <div class="content box_cardview" [style.background-color]="color" *ngIf="box != null">
            <div class="right floated">Box: {{box.box_position}} <span *ngIf="show_user_defined_label && box.label">/{{box.label}}</span></div>
            <img *ngIf="box_owner != undefined && box_owner.profile && box_owner.profile.photo" class="ui avatar image" src="{{appUrl + box_owner.profile.photo}}">
            <span class="meta" *ngIf="box_owner != undefined">{{box_owner.first_name.toUpperCase()+ " " + box_owner.last_name.toUpperCase()}}</span>         
          </div>
          <!-- LAYOUT -->
          <div *ngIf="box != null">
            <table class="ui small unstackable celled single line fixed table">
              <thead>
                <tr>
                  <th class="nopadding"></th>
                  <th *ngFor="let h of bhArray" class="left aligned nopadding"><small class="">{{h}}</small></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of bvArray">
                  <th class="center aligned nopadding"><small class="">{{v}}</small></th>
                    <!--clickable sample-cell-->
                  <td class="center aligned tight_around" *ngFor="let h of bhArray">
                    <div *ngFor="let sample of pickerSamples(h,v)" class="fix_size_div" [style.background-color]="genBackgroundColor(sample.color)">
                    </div>                   
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="ui ten wide column segment">
      <div class="ui cards">
        <!--box layout-->
        <div class="ui violet raised card">
            <div class="content">
              <div class="header">BOX LAYOUT (<span>{{box_horizontal}}X{{vArray.length}}</span>)</div>
              <div class="meta" *ngIf="allow_change_box_layout">
                  <i class="announcement icon"></i>
                  <span>Select the dropdowns below to change the layout!</span>
              </div>
              <div class="meta" *ngIf="allow_change_box_layout==false">
                <i class="announcement icon"></i>
                <span>Change to layout is not allowed!</span>
              </div>
              <div class="description" *ngIf="allow_change_box_layout">
                <div class="ui form tiny small_vertial_padding">
                  <div class="ui inline fields">
                    <div class="field">
                      <label>horizontal: </label>
                      <select name="horizontal" [(ngModel)]="box_horizontal" class="ui fluid dropdown" (ngModelChange)="updateLayout($event, 'horizontal')" #horizontalCtl>               
                        <option *ngFor="let option of genHorizontalOptions()" [ngValue]="option">{{option}}</option>
                      </select>
                    </div>
                    <div class="field">
                      <label>vertical: </label>
                      <select name="vertical" [(ngModel)]="box_vertical" class="ui fluid dropdown" (ngModelChange)="updateLayout($event, 'vertical')" #verticalCtl>               
                        <option *ngFor="let option of genVerticalOptions()" [ngValue]="option">{{option}}</option>
                      </select>
                    </div>
                  </div>                       
                </div>
              </div>
            </div>
          </div>
          <!--box owner -->
          <div class="ui teal raised card" *ngIf="is_able_2_update_owner">
            <div class="content">
              <div class="header">BOX OWNER (
                <span>
                  <img *ngIf="box.researchers != undefined && box.researchers.length > 0 && box.researchers[0].profile && box.researchers[0].profile.photo" 
                  class="ui avatar image" src="{{appUrl + box.researchers[0].profile.photo}}">
                  <span class="meta" *ngIf="box_owner">{{box_owner.first_name.toUpperCase()+ " " + box_owner.last_name.toUpperCase()}}</span>
                </span>
                )
              </div>
              <div class="meta">
                  <i class="announcement icon"></i>
                  <span>Select the dropdowns below to change the owner of the box!</span>
              </div>
              <div class="description">
                <div class="ui form tiny small_vertial_padding">
                    <div class="field">
                        <label>researchers: </label>
                        <select name="boxowner" [(ngModel)]="box_owner.pk" class="ui fluid dropdown" (ngModelChange)="updateOwner($event)" #boxownerCtl>               
                          <option *ngFor="let owner of group_all_users" [ngValue]="owner.pk">{{owner.first_name.toUpperCase()+ " " + owner.last_name.toUpperCase()}}</option>
                        </select>
                      </div>
                </div>
              </div>
            </div>
          </div>
      </div>  
      <div class="ui red clearing segment" *ngIf="delete_box_clicked">
        <p class="red-text"><i class="icon announcement"></i>Are you sure to delete this box?</p>
        <button class="ui right floated mini button" (click)="cancel_deletion()">CANCEL DELETION</button>
      </div>
    </div>
  </div>
  <div class="three ui mini bottom attached buttons">
    <button class="ui violet button" (click)="save_box()"><i class="icon save"></i>SAVE</button>
    <button class="ui grey button" *ngIf="!delete_box_clicked && (samples === null || samples.length == 0) " (click)="delete_box()"><i class="icon trash"></i>DELETE BOX</button>
    <button class="ui red button" *ngIf="delete_box_clicked" (click)="confirm_delete_box()"><i class="icon trash"></i>CONFIRM DELETION</button>
  </div>
</div>