/* You can add global styles to this file, and also import other style files */
@font-face {
font-family: 'Lato-Regular';
src: url('./fonts/Lato/Lato-Regular.ttf')  format('truetype');
font-weight: normal;
}

body{
    height: 100%;
    overflow-x: hidden;
    padding: 0!important;
    background-color: #FFF888;
}

/*footer*/
@media (min-height: 320px) {
  .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}