/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato/Lato-Regular.ttf')  format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: url('./fonts/Pacifico/Pacifico-Regular.ttf')  format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik/Rubik-Regular.ttf')  format('truetype');
  font-weight: normal;
}

body{
    font-family: Rubik, Lato!important;
    height: 100%;
    overflow-x: hidden;
    padding: 0!important;
    background-color: #FCF5F2;
}

/*footer*/
@media (min-height: 320px) {
  .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px;
    /*background: #537489;*/
    font-size: 80%;
  }
}

.bioku-header{
  font-family: Pacifico, Rubik, Lato!important;
}

.huge-padding{
  padding-top: 100px !important;
}
.hidden{
  display: none;
}

/*
.footer{
    background: #537489;
    color: white;
    font-size: 80%;
}

.navbar-fixed-bottom{
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px){
  .navbar-fixed-bottom{
    border-radius: 0;
  }
}
*/
.mydp input{
  width: 100% !important;
  padding-left: 35px !important;
  border: none !important;
}

#birth_date{
  z-index: 9999;
}

.ng-sidebar{
  overflow: scroll !important;
  overflow-x: hidden !important;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.clearfix{
  clear: both;
}
.nopadding{
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}