<table class="ui sortable small striped compact padded single line table">
    <tbody>
      <!-- buttons -->
       <tr>
         <td colspan="2">
            <button *ngIf="sample.occupied" class="fluid ui mini blue button" 
            (click)="takeSingleSampleOut(box.box_position, sample, sample.position)">
                <i class="icon external share"></i>TAKE OUT</button>
           <button *ngIf="sample.date_out != null || !sample.occupied" class="fluid ui mini grey button" 
           (click)="putSingleSampleBack(box.box_position, sample, sample.position)">
                <i class="icon reply"></i>PUT BACK</button>
         </td>
       </tr>
       <!-- general -->
      <tr>
        <th class="six wide" [style.color]="sample.color">name & type</th>
        <td class="ten wide">
          <div class="ui input wide-form">
            <input class="" type="text" [(ngModel)]="sample.name" placeholder="update sample name ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'name', true)">
            <select class="ui tiny tight_around dropdown" [(ngModel)]="sample.type"
                    (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'type', true)">
                <option value="GENERAL">GENERAL</option>
                <option value="CELL">CELL</option>
                <option value="CONSTRUCT">CONSTRUCT</option>
                <option value="OLIGO">OLIGO</option>
                <option value="gRNA_OLIGO">gRNA OLIGO</option>
                <option value="TISSUE">TISSUE</option>
                <option value="VIRUS">VIRUS</option>
            </select>
            <!-- <i class="edit icon"></i> -->
          </div>                                
        </td>
      </tr>
      <tr>
          <td class="six wide" [style.color]="sample.color">code & tag </td>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="text" [(ngModel)]="sample.registration_code" placeholder="sample primary code ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'registration_code', false)">
              <input class="" type="text" [(ngModel)]="sample.tag" placeholder="sample tag ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'tag', false)">
            </div>                                              
          </td>
      </tr>     
      <tr>
          <th class="six wide">official name</th>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="text" [(ngModel)]="sample.official_name" placeholder="update sample official name ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'official_name', true)">
            </div>                                
          </td>
      </tr>
      <tr>
        <th class="">position</th>
        <td class="">
          <div class="ui grid">                    
            <div class="three wide column"><span>{{sample.position}}</span></div>
            <div *ngIf="sample.occupied" class="two wide column" suiPopup popupText="Move/switch current sample to another position in the box">
              <i *ngIf="!action_loader" class="refresh icon grey-text"></i>
              <i *ngIf="action_loader" class="ui active mini loader"></i>
            </div>
            <div *ngIf="sample.occupied" class="three wide column ui form tiny small_vertial_padding">
              <div class="ui inline fields">
                <div class="field">
                  <select name="vposition" class="ui fluid dropdown" (change)="display_hposition()" #vposition>
                    <option *ngFor="let option of vertical_options" value="{{option.value}}">{{option.name}}</option>
                  </select>
                </div>
                <div class="field" *ngIf="box_hposition">
                  <select name="hposition" class="ui fluid dropdown" (change)="updateSamplePosition(sample, box.box_position, sample.position)" #hposition>
                    <option *ngFor="let option of horizontal_options" value="{{option.value}}">{{option.name}}</option>
                  </select>
                </div>
              </div>                       
            </div>
            <div class="eight wide column">
                <div class="ui icon input wide-form">
                    <input class="" type="text" [(ngModel)]="sample.label" placeholder="alternative position ..." 
                    (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'label', true)">
                </div>  
            </div>
          </div>
        </td>
      </tr>      
      <tr *ngIf="sample.type !=='CELL' && sample.type !=='VIRUS'">
        <td class="">quantity</td>
        <td class="ten wide">
          <div class="ui icon input wide-form">
            <input class="" type="numner" step=0.001 
            [(ngModel)]="sample.quantity" placeholder="sample quantity ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'quantity', true)">
            <input class="" type="text" 
            [(ngModel)]="sample.quantity_unit" placeholder="unit ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'quantity_unit', true)">
          </div>                                              
        </td>
      </tr>
      <!-- virus-->
      <tr *ngIf="sample.type === 'VIRUS'">
          <th class="six wide">plasmid</th>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="text" [(ngModel)]="sample.plasmid" placeholder="update plasmid ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'plasmid', true)">
            </div>                                
          </td>
      </tr>
      <tr *ngIf="sample.type === 'VIRUS'">
          <th class="six wide">titer & unit</th>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="text" [(ngModel)]="sample.titration_titer" placeholder="titer ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'titration_titer', true)">
              <input class="" type="text" [(ngModel)]="sample.titration_unit" placeholder="unit ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'titration_unit', true)">              
            </div>                                
          </td>
      </tr>
      <tr *ngIf="sample.type === 'VIRUS'">
          <th class="six wide">celltype & code</th>
          <td class="ten wide">
            <div class="ui icon input wide-form">
                <input class="" type="text" [(ngModel)]="sample.titration_cell_type" placeholder="cell type ..." 
                (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'titration_cell_type', true)">
              <input class="" type="text" [(ngModel)]="sample.titration_code" placeholder="titration code ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'titration_code', true)">
            </div>                                
          </td>
      </tr>
      <!-- Oligo OR gRNA OLIGO-->
      <tr *ngIf="sample.type === 'OLIGO' || sample.type === 'gRNA_OLIGO'">
          <th class="six wide">oligo name</th>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="text" [(ngModel)]="sample.oligo_name" placeholder="update oligo name ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'oligo_name', true)">
            </div>                                
          </td>
      </tr>
      <tr *ngIf="sample.type === 'OLIGO' || sample.type === 'gRNA_OLIGO'">
          <th class="six wide">oligo sequence</th>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="text" [(ngModel)]="sample.oligo_sequence" placeholder="update oligo sequence ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'oligo_sequence', true)">
            </div>                                
          </td>
      </tr>
      <tr *ngIf="sample.type === 'OLIGO' || sample.type === 'gRNA_OLIGO'">
          <th class="six wide">length & %GC</th>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="number" [(ngModel)]="sample.oligo_length" placeholder="update oligo length ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'oligo_length', true)">
              <input class="" type="number" step="0.1" [(ngModel)]="sample.oligo_GC" placeholder="update oligo %GC ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'oligo_GC', true)">
            </div>                                
          </td>
      </tr>
      <tr *ngIf="sample.type === 'OLIGO' || sample.type === 'gRNA_OLIGO'">
          <th class="six wide">target sequence</th>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="text" [(ngModel)]="sample.target_sequence" placeholder="update oligo target sequence ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'target_sequence', true)">
            </div>                                
          </td>
      </tr>
      <!-- construct only -->
      <tr *ngIf="sample.type==='CONSTRUCT'">
        <td class="">clone nr. & 1st maxi</td>
        <td class="ten wide">
          <div class="ui icon input wide-form">
            <input class="" type="text" [(ngModel)]="sample.clone_number" placeholder="construct clone number ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'clone_number', false)">
            <input class="" type="text" [(ngModel)]="sample.first_max" placeholder="1st maxi ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'first_max', false)">
          </div>                                              
        </td>
      </tr>
      <tr *ngIf="sample.type==='CONSTRUCT'">
        <td class="">260/280 & R.E. analysis</td>
        <td class="ten wide">
          <div class="ui icon input wide-form">
            <input class="" type="number" step="0.01" [(ngModel)]="sample.against_260_280" placeholder="construct 260/280 ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'against_260_280', false)">
            <input class="" type="text" [(ngModel)]="sample.r_e_analysis" placeholder="construct R.E. analysis ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'r_e_analysis', false)">
          </div>                                              
        </td>
      </tr>
      <tr *ngIf="sample.type==='CONSTRUCT'">
        <td class="">feature & marker</td>
        <td class="ten wide">
          <div class="ui icon input wide-form">
            <input class="" type="text" [(ngModel)]="sample.feature" placeholder="construct feature ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'feature', false)">
            <input class="" type="text" [(ngModel)]="sample.marker" placeholder="construct marker ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'marker', false)">
          </div>                                              
        </td>
      </tr>
      <tr *ngIf="sample.type==='CONSTRUCT'">
        <td class="">backbone & insert</td>
        <td class="ten wide">
          <div class="ui icon input wide-form">
            <input class="" type="text" [(ngModel)]="sample.backbone" placeholder="construct backbone ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'backbone', false)">
            <input class="" type="text" [(ngModel)]="sample.insert" placeholder="construct insert ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'insert', false)">
          </div>                                              
        </td>
      </tr>      
      <tr *ngIf="sample.type==='CONSTRUCT'">
        <td class="">glycerol stock & strain</td>
        <td class="ten wide">
          <div class="ui input wide-form">
              <div class="ui slider checkbox">
                  <input type="checkbox" [(ngModel)]="sample.has_glycerol_stock" id="glycerol_stock"
                  (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'has_glycerol_stock', true)">
                  <label for="glycerol_stock"><small>YES</small></label>
              </div>
              <input class="" type="text" [(ngModel)]="sample.strain" placeholder="strain ..." [ngClass]="{'hidden': !sample.has_glycerol_stock}"
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'strain', false)">
          </div>
        </td>
      </tr>

      <!-- cell line only  -->
      <tr *ngIf="sample.type==='CELL'">
          <td class="">passage nr. & amount</td>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="text" [(ngModel)]="sample.passage_number" placeholder="passage number ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'passage_number', false)">
              <input class="" type="text" [(ngModel)]="sample.cell_amount" placeholder=" amount ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'cell_amount', false)">
            </div>                                              
          </td>
      </tr>
      <tr *ngIf="sample.type==='CELL'">
          <td class="">project & creator</td>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="text" [(ngModel)]="sample.project" placeholder="project ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'project', false)">
              <input class="" type="text" [(ngModel)]="sample.creator" placeholder=" creator ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'creator', false)">
            </div>                                              
          </td>
      </tr>

      <!-- pathology only -->
      <tr *ngIf="sample.type==='TISSUE'">
        <td class="">pathology code</td>
        <td class="ten wide">
          <div class="ui icon input wide-form">
            <input class="" type="text" [(ngModel)]="sample.pathology_code" placeholder="update sample pathology code ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'pathology_code', false)">
          </div>                                              
        </td>
      </tr>
      <tr *ngIf="sample.type==='TISSUE'">
        <td class="">tissue</td>
        <td class="ten wide">
            <div class="ui icon input wide-form">
                <input class="" type="text" [(ngModel)]="sample.tissue" placeholder="update sample tissue ..." 
                (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'tissue', false)">
            </div> 
          </td>
      </tr>
      <!-- not occupied -->
      <tr *ngIf="!sample.occupied"><td class="">date out</td><td class="">{{sample.date_out | date: 'yyyy-MM-dd' }}</td></tr>
      <!-- general -->
      <tr>
        <td class="">freezing date</td>            
        <input class="hidden" [(ngModel)]="sample.freezing_date">          
        <my-date-picker name="freezing_date" [options]="myDatePickerOptions" [(ngModel)]="freezing_date" 
        (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'freezing_date', true)" required>
        </my-date-picker>
      </tr>
      <tr>
        <td class="">freezing code</td>
        <td class="ten wide">
          <div class="ui icon input wide-form">
            <input class="" type="text" [(ngModel)]="sample.freezing_code" placeholder="update sample freezing code ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'freezing_code', false)">
          </div>                                              
        </td>
      </tr>
      <tr>
          <td class="six wide">external code </td>
          <td class="ten wide">
            <div class="ui icon input wide-form">
              <input class="" type="text" [(ngModel)]="sample.reference_code" placeholder="reference to external or another sample ..." 
              (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'reference_code', false)">
            </div>                                              
          </td>
      </tr> 
      <tr>
        <td class="">attachments</td>
        <td class="">
            <a *ngIf="attachment_upload== false" class="ui right floated primary mini compact icon basic button" 
                (click)="displayAttachmentUpload()">
                <i class="cloud upload icon"></i>
              </a>
            <div *ngIf="sample.attachments != null && sample.attachments.length > 0">
              <div class="nopadding no_margin" *ngFor="let attachment of sample.attachments">
                <div class="ui mini icon buttons">
                    <a class="ui basic button" (click)="attachment2Delete(attachment.pk, attachment.label)">
                        <i class="delete icon red-text" suiPopup popupText="remove this attachment" ></i>
                    </a>
                    <a class="ui basic button" target="_blank" href="{{appUrl + attachment.attachment}}">
                        <span class="teal-text" suiPopup popupText="{{attachment.description ? attachment.description : 'no description found!'}}">
                          {{ attachment.label != null ? 
                          attachment.label > 20 ? (attachment.label | slice:0:20) + '..': attachment.label
                          : null }}
                        </span>                        
                    </a>                                     
                </div>
              </div>
            </div>
            <div>
              <div class="ui divider" *ngIf="attachment_upload==true||attachment_delete==true"></div>
              <!-- upload -->
              <div class="field" *ngIf="attachment_upload==true">
                <div class="ui mini input right action wide-form">
                  <input type="text" id="attachment_name" readonly placeholder="click browse to find the attachment" value="{{attchment_name}}" #attachmentName>
                  <label class="ui mini secondary button">Browse
                    <input type="file" id="attachment" placeholder="new attachment" 
                        class="hidden" id="attchment_upload" (change)="validateAttachmentUpload($event)">
                  </label>
                  <button class="ui primary mini icon button" (click)="performAttachmentUpload()"><i class="icon check"></i></button>
                  <button class="ui mini icon basic button" (click)="hideAttachmentUpload()"><i class="icon delete"></i></button>
                </div>
                <div *ngIf="attchament_is2large" class="ui mini negative message">Maximum upload size is 10MB!</div>
                <div *ngIf="attchament_error" class="ui mini negative message">Both attachment and label are required!</div>
              </div>
              <div class="field" *ngIf="attachment_upload==true">
                  <div class="ui mini input wide-form">
                      <input type="text" id="attchament_label" value="{{attchment_name}}" placeholder="attchament label" #attachmentLabel>
                      <input type="text" id="attchament_description" value="" placeholder="attchament description" #attachmentDescription>
                  </div>
                </div>
              <!-- remove attchment -->
              <div *ngIf="attachment_delete==true">                
                <div class="ui mini right floated icon buttons">
                    <button class="ui primary icon button" (click)="performAttachmentDelete()"><i class="icon check"></i></button>
                    <button class="ui basic icon button" (click)="cancelAttachmentDelete()"><i class="icon delete"></i></button>
                </div>
                <p class="small red-text">delete {{ attachment_to_delete != null ? 
                    attachment_to_delete > 20 ? (attachment_to_delete | slice:0:20) + '..': attachment_to_delete
                    : null}}?</p>              
              </div>
            </div> 
          </td>
        </tr>
      <tr>
        <td class="">researcher</td>
        <td class="">
            <div *ngIf="sample.researchers != null && sample.researchers.length > 0">
              <span class="nopadding no_margin" *ngFor="let researcher of sample.researchers">
                {{researcher.first_name != null ? researcher.first_name + ' ' + researcher.last_name : ""}}
              </span>
            </div> 
          </td>
      </tr>
      <tr>
        <td class="">comments</td>
        <td class="ui form">
          <div class="field wide-form">
            <textarea class=""
            rows="2"
            [(ngModel)]="sample.description" 
            placeholder="update sample description ..." 
            (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'description', false)">
            </textarea>
          </div>                                              
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div >
            <span [style.color]="sample.color" class="header">Sample {{sample.box_position}} Color: </span>
          </div>
          <color-picker [(ngModel)]="sample.color" (ngModelChange)="updateSampleDetail($event, sample, box.box_position, sample.position, 'color', false)" 
          [availableColors]="availableColors" [pickerConfig]="pickerOptions"></color-picker>                                            
        </td>
      </tr>      
    </tbody>
  </table> 