<div class="ui grid row">
    <div class="eight wide column"></div>
    <div class="eight wide column">
      <app-container-box-navbar></app-container-box-navbar>
    </div>
  </div>
  <div class="ui grid row small_padding stackable">
      <div class="eight wide column">
        <h3 class="ui violet left aligned header">
          <i class="icon edit layout"></i>MODIFY {{sample.name}}
        </h3>
      </div>
      <div class="eight wide column">
        <a class="ui grey button right floated" *ngIf="!require_refresh"
        [routerLink]="['/containers/', container.pk, box.box_position]">
            <i class="icon caret left"></i> BACK
        </a>
        <a class="ui teal button right floated" *ngIf="require_refresh"
        (click)="forceRefresh()">
            <i class="icon caret left"></i> DONE
        </a>
      </div>
  </div>

  <!--loading-->
  <!--sample details-->
  <div class="ui stackable sixteen wide column grid small_padding">
    <div class="eight wide column">
      <table class="ui unstackable small striped compact teal table">
        <tr *ngFor="let attr of mctype_attrs">
          <th>{{attr.attr_label}}</th>
          <td>
            <div *ngIf="!attr.is_changing">
                <span *ngIf="attr.attr_name == 'name'">
                    <span [style.color]="display_sample.color">{{ renderSampleName(display_sample[attr.attr_label]) }}</span>
                    <span *ngIf="display_sample.type" class="ui mini circular label">{{ display_sample.type | slice:0:3 }}</span>
                  </span>
                <span *ngIf="attr.attr_value_type === 4">{{display_sample[attr.attr_label] | date: 'yyyy-MM-dd'}}</span>
                <span *ngIf="attr.attr_value_type !== 4 && attr.attr_name != 'name'">{{display_sample[attr.attr_label]}}</span>
                <!--changable-->
                <i class="icon teal edit layout right floated clickable" *ngIf="attr.is_changable" (click)="toggleChange(attr)"></i>
                <!--attr with children-->
                <i class="icon grey table right floated" *ngIf="attr.has_sub_attr"></i>
            </div>
            <div *ngIf="attr.is_changing">
              <!--need to work here for input type and validaiton-->
              <!--non date type-->
                <div class="ui icon input wide-form" *ngIf="attr.attr_value_type !== 4">
                  <input class="" 
                  type="{{attr.input_attr.type}}" 
                  step="{{attr.input_attr.step}}"
                  required="{{attr.input_attr.required}}"
                  maxlength="{{attr.input_attr.maxlength}}"
                  [(ngModel)]="display_sample_copy[attr.attr_label]"                    
                  (ngModelChange)="preSaveSampleData($event, attr)">
                </div>
                <!--date type-->
                <div class="store_sample">
                  <my-date-picker name="attr.name" *ngIf="attr.attr_value_type === 4"
                  [options]="myDatePickerOptions" 
                  [(ngModel)]="date_attrs[attr.attr_name]" 
                  (ngModelChange)="preSaveSampleData($event, attr)">
                </my-date-picker>
              </div>
              <div>
                <span class="red-text" *ngIf="validations[attr.attr_name] != ''">{{validations[attr.attr_name]}}</span>   
                <i class="icon green check icon right floated clickable" 
                *ngIf="attr.is_changable && validations[attr.attr_name] == ''" 
                (click)="performSaveCSample(attr)"></i>
                <i class="icon red close icon right floated clickable" *ngIf="attr.is_changable" (click)="toggleChange(attr)"></i>
              </div>                         
            </div>
          </td>
        </tr>
        <!-- attachment-->
        <tr>
          <th>ATTACHMENTS</th>
          <td>
            <a *ngIf="attachment_upload== false" 
              (click)="displayAttachmentUpload()">
              <i class="plus square outline icon teal right floated clickable"
              suiPopup popupText="upload another attachment"></i>
            </a>
            <div *ngIf="display_sample.ATTACHMENTS != null && display_sample.ATTACHMENTS.length > 0">
              <div class="nopadding no_margin" *ngFor="let attachment of display_sample.ATTACHMENTS">
                <div class="ui mini icon buttons">
                  <a class="ui mini basic button" (click)="attachment2Delete(attachment.pk, attachment.label)">
                    <i class="delete icon" suiPopup popupText="remove this attachment" ></i>
                  </a>
                  <a class="ui basic button" target="_blank" href="{{appUrl + attachment.attachment}}">
                    <span class="teal-text" suiPopup popupText="{{attachment.description ? attachment.description : 'no description found!'}}">
                    {{ attachment.label != null
                      ? attachment.label > 20 
                        ? (attachment.label | slice:0:20) + '..'
                        : attachment.label
                      : null }}
                    </span>                        
                  </a>                                     
                </div>
              </div>
            </div>
            <div>
                <div class="ui divider" *ngIf="attachment_upload==true||attachment_delete==true"></div>
                <!-- upload -->
                <div class="field" *ngIf="attachment_upload==true">
                  <div class="ui mini input right action wide-form">
                    <input type="text" id="attachment_name" readonly 
                    placeholder="click browse to find the attachment" 
                    value="{{attchment_name}}" #attachmentName>
                    <label class="ui mini secondary button">Browse
                      <input type="file" id="attachment" placeholder="new attachment" 
                          class="hidden" id="attchment_upload" (change)="validateAttachmentUpload($event)">
                    </label>
                    <button class="ui primary mini icon button" (click)="performAttachmentUpload()"><i class="icon check"></i></button>
                    <button class="ui mini icon basic button" (click)="hideAttachmentUpload()"><i class="icon delete"></i></button>
                  </div>
                  <div *ngIf="attchament_is2large" class="ui mini negative message">maximum upload size is 10MB!</div>
                  <div *ngIf="attchament_error" class="ui mini negative message">both attachment and label are required!</div>
                </div>
                <div class="field" *ngIf="attachment_upload==true">
                  <div class="ui mini input wide-form">
                    <input type="text" id="attchament_label" value="{{attchment_name}}" placeholder="attchament label" #attachmentLabel>
                    <input type="text" id="attchament_description" value="" placeholder="attchament description" #attachmentDescription>
                  </div>
                </div>
                <!-- remove attchment -->
                <div *ngIf="attachment_delete==true">                
                  <div class="ui mini right floated icon buttons">
                    <button class="ui basic icon button" (click)="cancelAttachmentDelete()"><i class="icon delete"></i></button>
                    <button class="ui red icon basic button" (click)="performAttachmentDelete()"><i class="icon check"></i></button>
                  </div>
                  <p class="small red-text">delete {{ attachment_to_delete != null 
                    ? 
                      attachment_to_delete > 20 
                      ? (attachment_to_delete | slice:0:20) + '..'
                      : attachment_to_delete
                    : null}}?</p>              
                </div>
            </div>        
          </td>
        </tr>
        <!-- researcher-->
        <tr>
          <th>RESEARCHER</th>
          <td class="">
            <div *ngIf="display_sample.researchers != null && display_sample.researchers.length > 0">
                <span class="nopadding no_margin" *ngFor="let researcher of display_sample.researchers">
                  {{(researcher.first_name != null 
                    ? (researcher.first_name.toUpperCase() | slice:0:1) 
                    : '') 
                    +
                    (researcher.last_name != null 
                    ? (researcher.last_name.toUpperCase() + '' | slice:0:1)
                    : '')}}
                </span>
            </div> 
          </td> 
        </tr>
        <!-- color -->
        <tr>
          <td>
            COLOR
          </td>
          <td>
            <color-picker 
            [(ngModel)]="sample.color" 
            (ngModelChange)="updateFixedSampleDetail($event, sample, box.box_position, sample.position, 'COLOR', 'color', false)" 
            [availableColors]="availableColors" [pickerConfig]="pickerOptions">
            </color-picker>                                            
          </td>
          </tr> 
      </table>
    </div>
    <!-- sub sample data -->
    <div *ngFor="let sd_table of msubattr_data; let table_index = index" class="eight wide column">
        <table class="ui unstackable small striped compact grey table">
            <thead>
              <tr class="center aligned warning">
                <th class="tight_around" [attr.colspan]="sd_table.length + 1">
                  {{sd_table[0].sub_attr.parent_attr.toUpperCase()}}
                  <span>                    
                    <i class="icon teal plus circle right floated clickable"></i>
                  </span>
                </th>
              </tr>
            </thead>
            <thead>
                <tr>
                  <th *ngFor="let item of sd_table">{{item.sub_attr.attr_label.toUpperCase()}}</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data_item of sd_table[0].csample_subdata; let data_index = index">
                <!---->
                <td *ngFor="let attr_item of sd_table; let attr_index = index" 
                [ngClass]="{'negative': sd_table[attr_index].csample_subdata[data_index].is_deleting}">
                  <div *ngIf="!sd_table[attr_index].csample_subdata[data_index].is_changing">
                      {{sd_table[attr_index].csample_subdata[data_index].ctype_sub_attr_value_part1}}
                  </div>                  
                  <div *ngIf="sd_table[attr_index].csample_subdata[data_index].is_changing">
                    <!--no date type-->
                    <div class="ui icon input wide-form" *ngIf="+sd_table[attr_index].sub_attr.attr_value_type !== 4">
                      <input class="" 
                      type="{{sd_table[attr_index].sub_attr.input_attr.type}}" 
                      step="{{sd_table[attr_index].sub_attr.input_attr.step}}"
                      required="{{sd_table[attr_index].sub_attr.input_attr.required}}"
                      maxlength="{{sd_table[attr_index].sub_attr.input_attr.maxlength}}"
                      [(ngModel)]="msubattr_data_copy[table_index][attr_index].csample_subdata[data_index].ctype_sub_attr_value_part1"                    
                      (ngModelChange)="preSaveSampleSubData($event, table_index, attr_index, data_index)">
                    </div>
                    <!-- date type-->
                    <div class="store_sample">
                      <my-date-picker *ngIf="+sd_table[attr_index].sub_attr.attr_value_type === 4"
                      [options]="myDatePickerOptions" 
                      [(ngModel)]="date_attrs[sd_table[attr_index].sub_attr.parent_attr + '_'+ sd_table[attr_index].sub_attr.attr_name]" 
                      (ngModelChange)="preSaveSampleSubData($event, table_index, attr_index, data_index)">
                    </my-date-picker>
                    </div>
                    <div *ngIf="validations[sd_table[attr_index].sub_attr.parent_attr + '_'+ sd_table[attr_index].sub_attr.attr_name] != ''">
                      <span class="red-text">
                        {{validations[sd_table[attr_index].sub_attr.parent_attr + '_'+ sd_table[attr_index].sub_attr.attr_name]}}
                      </span> 
                    </div>                      
                  </div>
                </td>
                <th>
                  <div *ngIf="!sd_table[0].csample_subdata[data_index].is_deleting && !sd_table[0].csample_subdata[data_index].is_changing">
                    <a class="right floated clickable" (click)="toggleSubdataDeletion(table_index, data_index)">
                        <i class="icon red trash alternate outline"></i>
                    </a>
                    <a class="right floated clickable" (click)="toggleSubdataChange(table_index, data_index)">
                        <i class="icon teal edit"></i>  
                    </a>
                  </div>
                  <!-- -->
                  <div *ngIf="sd_table[0].csample_subdata[data_index].is_deleting">
                      <a class="ui mini grey button right floated" (click)="toggleSubdataDeletion(table_index, data_index)">
                        <i class="icon undo"></i><span>Cancel</span>
                      </a>  
                    <a class="ui mini red button right floated" (click)="performSubdataDeletion(table_index, data_index)">
                      <i class="icon trash alternate outline"></i><span>Confirm</span>
                    </a>               
                  </div>
                  <!---->
                  <div *ngIf="sd_table[0].csample_subdata[data_index].is_changing">
                    <a class="ui mini grey button right floated" (click)="toggleSubdataChange(table_index, data_index)">
                      <i class="icon undo"></i><span>Cancel</span>
                    </a>
                    <a class="ui mini teal button right floated" (click)="performSubdataChange(table_index, data_index)">
                      <i class="icon check"></i><span>Save</span>
                    </a>                  
                </div>             
                </th>
              </tr>
              <tr>
                <td *ngFor="let attr_item of sd_table; let attr_index = index"></td>
                <td>
                  <i class="icon red check right floated clickable"></i>
                  <i class="icon grey x icon right floated clickable"></i> 
                </td>
              </tr>
            </tbody>
        </table>           
    </div>
  </div>