<div class="ui grid row">
    <div class="eight wide column"></div>
    <div class="eight wide column">
      <app-container-box-navbar></app-container-box-navbar>
    </div>
  </div>
  <div class="ui grid row small_padding stackable">
      <div class="eight wide column">
        <h3 class="ui violet left aligned header">
          <i class="icon edit layout"></i>MODIFY SAMPLE
        </h3>
      </div>
      <div class="eight wide column">
        <a class="ui grey button right floated">
            <i class="icon caret left"></i>
            BACK
        </a>
      </div>
  </div>

  <!--loading-->
  <!--sample details-->