<div class="ui grid row">
  <div class="eight wide column">
    <app-sample-filter (sampleFilter)="updateSampleList($event)"></app-sample-filter>
  </div>
  <div class="eight wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>


<div class="ui grid row small_padding stackable">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon list layout"></i>BOX SAMPLES</h3>
  </div>
  <div class="six wide column">
    <a class="ui teal button float-right" [routerLink]="['/']"><i class="icon add circle"></i>SAMPLE(S)</a>
  </div>
</div>


<div class="ui small_padding stackable grid">
  <div class="ten wide tablet twelve wide computer column">
    <app-sample-table [samples]="searchedSamples" (sampleSelected)="captureSampleSelected($event)"></app-sample-table>  
  </div>
  <div class="six wide tablet four wide computer column">
      <app-box-detail-action-panel [selectedSamples]="selectedSamples"></app-box-detail-action-panel>
  </div>
</div>