<div class="ui grid row">
  <div class="eight wide column">
    <app-sample-filter (sampleFilter)="updateSampleList($event)"></app-sample-filter>
  </div>
  <div class="eight wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>

<div class="ui grid row small_padding stackable">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon list layout"></i>BOX SAMPLES</h3>
  </div>
  <div class="six wide column">
    <div *ngIf="box_view" class="ui toggle checkbox float-right" suiPopup popupText="List View of All Samples">
      <input type="checkbox" name="" id="table_view" (change)="toggleList()">
      <label for="table_view"><span class="violet-text">Sample List</span></label>
    </div>
    <div *ngIf="!box_view" class="ui toggle checkbox float-right" suiPopup popupText="Box View of All Samples">
      <input type="checkbox" name="" id="table_view" (change)="toggleList()">
      <label for="table_view"><span class="violet-text">Box View</span></label>
    </div>
  </div>
</div>

<div class="ui small_padding stackable grid">
  <div class="ten wide tablet twelve wide computer column" >
    <app-sample-table *ngIf="!box_view" [samples]="searchedSamples" (sampleSelected)="captureSampleSelected($event)"></app-sample-table> 
    <app-box-layout *ngIf="box_view" [samples]="samples" [searchedSamples]="searchedSamples" (sampleSelected)="captureSampleSelected($event)" (cellSelected)="captureCellSelected($event)"></app-box-layout>   
  </div>
  <div *ngIf="(selectedSamples != null && selectedSamples.length > 0) || (selectedCells != null && selectedCells.length > 0)" class="six wide tablet four wide computer column ui sticky">
      <app-box-detail-action-panel [selectedSamples]="selectedSamples.toString()" [selectedCells]="selectedCells.toString()"></app-box-detail-action-panel>
  </div>
</div>