<div class="ui grid row medium_padding">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon grid layout"></i>CONTAINERS</h3>
  </div>
  <div class="six wide column">
    <!--[routerLink]="['/']"-->
    <a class="ui violet button float-right" [routerLink]="['/containers/add']"><i class="icon add circle"></i>CONTAINER</a>
    <a class="ui orange inverted button float-right" [routerLink]="['/containers/search/']"><i class="icon search"></i>SAMPLES</a>
  </div>
</div>

<!--loading info-->
<div *ngIf="loading==true" class="ui loading segment center aligned">
    <br/><br/><br/><br/>
    <p class="brown-text">loading containers ... </p>
</div>

<!--after loading-->
<div class="ui grid small_padding" *ngIf="loading == false">
    <div *ngIf="containers.length > 0">
        <div class="ui link cards">
            <app-container-detail *ngFor="let container of containers" [container]="container" class="ui black raised card" (click)="displayContainerBoxes(container.pk)" [displayMode]="'editable'"></app-container-detail>
        </div>
    </div>   
</div>

<!--no record-->
<div *ngIf="loading==false && (containers== null || containers.length == 0)" class="ui tertiary segment container center aligned">
    <p class="">no container found! You can click the button above to add a container. </p>
</div>