<div class="ui grid row medium_padding">
  <div class="eight wide column">
    <h3 class="ui violet left aligned header"><i class="icon th list"></i>MATERIAL TYPES</h3>
  </div>
  <div class="eight wide column"> 
    <a class="ui blue button float-right" [routerLink]="['./add/']">
      <i class="icon add circle"></i>
      NEW TYPE</a>
  </div>
</div>
<div class="ui row grid small_padding stackable" *ngIf="ctypes.length > 0">
  <div class="six wide column" *ngFor="let ctype of ctypes">
    <div class="ui top attached inverted secondary center aligned segment" 
    [ngClass]="ctype.is_public ? 'orange': 'blue'">
        <div class="">{{ctype.type.toUpperCase()}}</div>
    </div>
    <div class="ui attached secondary segment" 
    *ngIf="ctype.description !== null && ctype.description !== undefined">
        <div class="">{{ctype.description}}</div>
    </div>
    <div class="ui attached segment">
      <div class="ui divided list">
        <!--minimal attrs-->
        <div class="item" *ngFor="let mattr of ctype_minimal_attrs">
            <div class="ui horizontal label" [ngClass]="mattr.attr_required ? 'red': 'teal'">
              {{mattr.attr_label.toUpperCase()}}
            </div>
            <span *ngIf="mattr.has_sub_attr" class="grey-text small-text">
              <span *ngFor="let msubattr of mattr.sub_attrs" 
              class="ui horizontal mini basic label" [ngClass]="msubattr.attr_required ? 'red': ''">
                {{msubattr.attr_label.toUpperCase()}}
              </span>
            </span>
        </div>
        <!--customized attrs-->
        <div class="item" *ngFor="let attr of ctype.attrs">
            <div class="ui horizontal label" [ngClass]="attr.attr_required ? 'red': 'teal'">
              {{attr.attr_label.toUpperCase()}}
            </div>
            <span *ngIf="attr.has_sub_attr" class="grey-text small-text">
              <span *ngFor="let subattr of attr.subattrs" 
              class="ui horizontal mini basic label" [ngClass]="subattr.attr_required ? 'red': ''">
                {{subattr.attr_label.toUpperCase()}}
              </span>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui tertiary segment container center aligned" 
  *ngIf="ctypes === undefined || ctypes === null|| ctypes.length === 0">
  <p class="">there is no material type defined in BIOKU, click the "NEW TYPE" above to add a material type.</p>
</div>