<div class="ui grid row medium_padding">
  <div class="eight wide column">
    <h3 class="ui violet left aligned header"><i class="icon th list"></i>MATERIAL TYPES</h3>
  </div>
  <div class="eight wide column"> 
    <a class="ui blue button float-right" [routerLink]="['./add/']">
      <i class="icon add circle"></i>
      NEW TYPE</a>
  </div>
</div>
<div class="ui row grid small_padding stackable" *ngIf="ctypes.length > 0">
  <div class="six wide column" *ngFor="let ctype of ctypes">
    <div class="ui top attached inverted secondary segment" 
    [ngClass]="ctype.is_public ? 'orange': 'blue'">
        <div class="">{{ctype.type}}</div>
    </div>
    <div class="ui attached secondary segment" 
    *ngIf="ctype.description !== null && ctype.description !== undefined">
        <div class="">{{ctype.description}}</div>
    </div>
    <div class="ui attached segment">
      <div class="ui divided list">
        <div class="item" *ngFor="let attr of ctype.attrs">
            <div class="ui teal horizontal label">{{attr.attr_label}}</div>
            <span *ngIf="attr.has_sub_attr" class="grey-text small-text">
              <span *ngFor="let subattr of attr.subattrs" 
              class="ui horizontal mini label">
                {{subattr.attr_label}}
              </span>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui tertiary segment container center aligned" 
  *ngIf="ctypes === undefined || ctypes === null|| ctypes.length === 0">
  <p class="">there is no material type defined in BIOKU, click the "NEW TYPE" above to add a material type.</p>
</div>