<div class="ui grid row medium_padding">
  <div class="eight wide column">
    <h3 class="ui violet left aligned header"><i class="icon th list"></i>MATERIAL TYPES</h3>
  </div>
  <div class="eight wide column"> 
    <a class="ui blue button float-right" [routerLink]="['./add/']">
      <i class="icon add circle"></i>
      NEW TYPE</a>
  </div>
</div>
<div class="ui row small_padding stackable">
  <div class="ui teal cards">
    <div class="card" *ngFor="let ctype of ctypes">
      <div class="content">
        <div class="header">{{ctype.type}}</div>
        <div class="meta">{{ ctype.is_public ? 'Public': 'Private' }}</div>
        <div class="description">{{ctype.description}}</div>
      </div>
    </div>
  </div>
</div>