<div class="ui grid row">
  <div class="twelf wide column"> 
    <div class="ui form sidebar_menu_offset equal width">
        <div class="fields">
          <label class="orange-text"><em>Filter Boxes</em></label>
          <div class="field">
            <div class="ui left corner labeled input">
              <input type="number" min="1" max="{{currentContaner.tower}}" placeholder="filter by tower#" #tower>
              <div class="ui left corner label">
                <i class="filter icon teal-text"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui left corner labeled input">
              <input type="number" min="1" max="{{currentContaner.shelf}}" required placeholder="filter by shelf#" #shelf>
              <div class="ui left corner label">
                <i class="filter icon brown-text"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui left corner labeled input">
              <input type="number" min="1" max="{{currentContaner.box}}" required placeholder="filter by box#" #box>
              <div class="ui left corner label">
                <i class="filter icon orange-text"></i>
              </div>
            </div>
          </div>    
        </div>
    </div>  
  </div>
</div>
