<div class="ui grid row">
  <div class="twelf wide column"> 
    <div class="ui form sidebar_menu_offset equal width">
        <div class="fields">
          <div class="ui orange label"><i class="filter icon"></i>BOX</div>
          <!-- <label class="orange-text"><em>Filter Boxes</em></label>  max="{{container.tower}}" max="{{container.shelf}}"  max="{{container.box}}" -->
          <div class="field">
            <div class="ui left corner labeled input">
              <input type="number" min="1" placeholder="filter by tower#" #tower>
              <div class="ui left corner label">
                <i class="filter icon teal-text"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui left corner labeled input">
              <input type="number" min="1" required placeholder="filter by shelf#" #shelf>
              <div class="ui left corner label">
                <i class="filter icon brown-text"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui left corner labeled input">
              <input type="number" min="1" required placeholder="filter by box#" #box>
              <div class="ui left corner label">
                <i class="filter icon orange-text"></i>
              </div>
            </div>
          </div>    
        </div>
    </div>  
  </div>
</div>
