<div class="ui grid row">
  <div class="sixteen wide column">   
    <div class="ui stackable floated left menu small sidebar_menu_offset">
      <div class="item">
        <i class="filter icon"></i>
      </div>
      <div class="item">
        <div class="ui labeled mini input">
          <div class="ui label">Tower</div>
          <input type="number" required>        
        </div>
      </div>
      <div class="item">
        <div class="ui labeled item mini input">
            <div class="ui label">Shelf</div>
            <input type="number" required>        
        </div>
      </div>
      <div class="item">
        <div class="ui labeled item mini input">
            <div class="ui label">Box</div>
            <input type="number" required>        
        </div> 
      </div>           
    </div>
  </div>
</div>