<div class="ui one column stackable center aligned page grid huge-padding">
   <div class="column eight wide">     
       <div class="center floated column">
         <!--form header-->
          <h3 class="ui header blue image">
            <div class="content">GROUP PROFILE</div>
          </h3>
          <!--form  -->
          <form [formGroup]="profileForm" class="ui large form" (ngSubmit)="profileForm.valid && onUpdate(profileForm.value)" enctype="multipart/form-data">
            <div class="ui stacked segment">
              <div class="field" [class.error]="profileForm.controls['group_name'].invalid && profileForm.controls['group_name'].touched">
                <div class="ui left icon input">
                  <i class="users icon"></i>
                  <input type="text" id="group_name" [formControl]="profileForm.controls['group_name']" placeholder="Group Name">
                </div>
                <div *ngIf="profileForm.controls['group_name'].hasError('required') && profileForm.controls['group_name'].touched" class="ui mini negative message">Group name is required</div>
                <div *ngIf="profileForm.controls['group_name'].hasError('humanNameInvalid') && profileForm.controls['group_name'].touched" class="ui mini negative message">Group name is invalid</div>
                <div *ngIf="profileForm.controls['group_name'].hasError('groupnameAsyncInvalid') && profileForm.controls['group_name'].touched" class="ui mini negative message">Group name already taken</div>
              </div>
              <div class="field" [class.error]="profileForm.controls['department'].invalid && profileForm.controls['department'].touched">
                <div class="ui left icon input">
                  <i class="building icon"></i>
                  <input type="text" id="department" [formControl]="profileForm.controls['department']" placeholder="Department">
                </div>
                <div *ngIf="profileForm.controls['department'].hasError('humanNameInvalid') && profileForm.controls['department'].touched" class="ui mini negative message">Department name is invalid</div>
              </div>
              <div class="field" [class.error]="profileForm.controls['pi_fullname'].invalid && profileForm.controls['pi_fullname'].touched">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" id="pi_fullname" [formControl]="profileForm.controls['pi_fullname']" placeholder="PI Full Name">
                </div>
                <div *ngIf="profileForm.controls['pi_fullname'].hasError('required') && profileForm.controls['pi_fullname'].touched" class="ui mini negative message">PI fullname is required</div>
                <div *ngIf="profileForm.controls['pi_fullname'].hasError('humanNameInvalid') && profileForm.controls['pi_fullname'].touched" class="ui mini negative message">PI fullname is invalid</div>
              </div>
              <div class="field" [class.error]="profileForm.controls['pi'].invalid && profileForm.controls['pi'].touched">
                <div class="ui left icon input">
                  <i class="flag icon"></i>
                  <input type="text" id="pi" [formControl]="profileForm.controls['pi']" placeholder="PI Initials">
                </div>
                <div *ngIf="profileForm.controls['pi'].hasError('required') && profileForm.controls['pi'].touched" class="ui mini negative message">PI initials is required</div>
                <div *ngIf="profileForm.controls['pi'].hasError('humanNameInvalid') && profileForm.controls['pi'].touched" class="ui mini negative message">PI initials is invalid</div>
              </div>
              <div class="field" [class.error]="profileForm.controls['email'].invalid && profileForm.controls['email'].touched">
                <div class="ui left icon input">
                  <i class="mail icon"></i>
                  <input type="email" id="email" [formControl]="profileForm.controls['email']" placeholder="PI Email">
                </div>
                <div *ngIf="profileForm.controls['email'].hasError('required') && profileForm.controls['email'].touched" class="ui mini negative message">Email is required</div>
                <div *ngIf="profileForm.controls['email'].hasError('email') && profileForm.controls['email'].touched" class="ui mini negative message">Email is invalid</div>
                <div *ngIf="profileForm.controls['email'].hasError('emailAsyncInvalid') && profileForm.controls['email'].touched" class="ui mini negative message">Email already taken</div>
              </div>            
              <div class="field" [class.error]="profileForm.controls['photo'].invalid && profileForm.controls['photo'].touched">
                <div class="ui left icon input right action">
                  <i class="image icon"></i>
                  <input type="text" id="photo_name" readonly placeholder="Photo" id="photo_name" value="{{photo_name}}" #photoName>
                  <label class="ui button">Browse<input type="file" id="photo" [formControl]="profileForm.controls['photo']" placeholder="PI Photo" class="hidden" id="photo_upload" (change)="validatePhotoUpload($event)"></label>
                </div>
                <div *ngIf="photo_is2Large" class="ui mini negative message">Maximum upload size is 10MB!</div>
                <div *ngIf="!photo_isSupported" class="ui mini negative message">Only allow for ".bmp", ".jpg", ".gif" and ".png"!</div>
              </div>
              <div class="field" [class.error]="profileForm.controls['telephone'].invalid && profileForm.controls['telephone'].touched">
                <div class="ui left icon input">
                  <i class="call icon"></i>
                  <input type="text" id="telephone" [formControl]="profileForm.controls['telephone']" placeholder="Telephone">
                </div>
                <div *ngIf="profileForm.controls['telephone'].hasError('telephoneInvalid') && profileForm.controls['telephone'].touched" class="ui mini negative message">Telephone number has at least 4 digits</div>
              </div>
              <button type="submit" class="ui fluid blue button">
                <i class="icon edit"></i>UPDATE
              </button>              
            </div>
          </form>                  
      </div>
   </div>
</div>