<div class="ui grid small_padding stackable">
  <div class="sixteen wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>
<div class="ui grid row small_padding">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon move"></i>MOVE CONTAINER BOX(ES)</h3>
  </div>
  <div class="six wide column">
    <a class="ui teal button float-right" [ngClass]="{'disabled': moving == true }" [routerLink]="['/containers/overview', container.pk]"><i class="icon caret left"></i>BACK</a>
  </div>
</div>

<div class="ui grid container" *ngIf="moving==false">
  <table class="ui small celled teal single line compact structured unstackable table">
      <thead>
        <tr>
          <th class="center aligned" colspan="2">BOXES TO MOVE</th>
          <th class="center aligned">MOVE TO CONTAINER</th>
          <th class="center aligned">MOVE TO POSITION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let box of move_boxes;">
          <td class="collapsing">
            <div class="ui fitted slider checkbox">
              <input type="checkbox" (change)="toggle_box_exclusion(box.box_full_position)" checked="checked">
              <label></label>
            </div>
          </td>
          <td class="">
            <h4 class="ui image header">
                <img *ngIf="container.photo" src="{{appUrl + container.photo}}" class="ui mini rounded image">
                <div class="content">
                  <div class="ui label" [ngClass]="{'blue': box.is_excluded == false}">
                      <span>BOX: {{ box.box_full_position }}</span>
                  </div>
                  <div class="sub header"><small>CONTAINER: {{ container.name }}</small></div>
                </div>
            </h4>
          </td>
          <td>
              <div class="">            
                  <select class="ui dropdown fluid selection" 
                  [ngClass]="{'disabled': box.is_excluded == true }"
                  [ngModel]="container.pk" 
                  (change)="selectContainer(box.box_full_position, $event)" #containerCtl>
                    <option 
                    [ngValue]="my_container.pk"
                    *ngFor="let my_container of my_containers"> 
                    {{my_container.name + ' (' + my_container.temperature + '&deg;C' + ', ' + my_container.room + ')'}}
                    </option>
                  </select>
              </div>
          </td>
          <td class="collapsing">
              <div class="ui form equal width tiny small_vertial_padding">
                  <div class="ui inline fields">
                    <div class="field" [ngClass]="{'error': towerCtl.value == '-' }">
                      <label [ngClass]="{'grey-text': box.is_excluded == true }">TOWER: </label>
                      <select name="tower" class="ui fluid dropdown" [ngClass]="{'disabled': box.is_excluded == true }" (change)="updateTarget(box.box_full_position, 'target_tower', $event)" #towerCtl>
                        <option> - </option>                  
                        <option *ngFor="let option of genOptions(box.box_full_position, 'tower')" value="{{option}}">{{option}}</option>
                      </select>
                    </div>
                    <div class="field" [ngClass]="{'error': towerCtl.value == '-' }">
                      <label [ngClass]="{'grey-text': box.is_excluded == true }">SHELF: </label>
                      <select name="shelf" class="ui fluid dropdown" [ngClass]="{'disabled': box.is_excluded == true }" (change)="updateTarget(box.box_full_position, 'target_shelf', $event)" #shelfCtl>
                        <option> - </option>
                        <option *ngFor="let option of genOptions(box.box_full_position, 'shelf')" value="{{option}}">{{option}}</option>
                      </select>
                    </div>
                    <div class="field" [ngClass]="{'error': towerCtl.value == '-' }">
                        <label [ngClass]="{'grey-text': box.is_excluded == true }">BOX: </label>
                        <select name="box" class="ui fluid dropdown" [ngClass]="{'disabled': box.is_excluded == true }" (change)="updateTarget(box.box_full_position, 'target_box', $event)" #boxCtl>
                          <option> - </option>
                          <option *ngFor="let option of genOptions(box.box_full_position, 'box')" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                  </div>                       
              </div>
          </td>
        </tr>
      </tbody>
      <tfoot class="full-width">
          <tr>
            <th colspan="4">
              <div class="ui right floated small inverted red labeled icon button" (click)="save_move_box()">
                <i class="angle double right icon"></i> MOVE BOXES
              </div>
            </th>
          </tr>
      </tfoot>
  </table>
</div>

<!--saving info-->
<div *ngIf="moving==true" class="ui loading raised segment container center aligned">
    <br/><br/><br/><br/>
    <p class="brown-text">moving boxes ... </p>
</div>