<div class="ui grid small_padding stackable">
  <div class="sixteen wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>
<div class="ui grid row small_padding">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon move"></i>MOVE CONTAINER BOX(ES)</h3>
  </div>
  <div class="six wide column">
    <a class="ui teal button float-right" [routerLink]="['/containers/overview', container.pk]"><i class="icon caret left"></i>BACK</a>
  </div>
</div>

<div class="ui grid container">
  <table class="ui small celled teal single line compact structured unstackable table">
      <thead>
        <tr>
          <th>BOXES</th>
          <th>MOVE TO CONTAINER</th>
          <th>MOVE TO POSITION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let box of boxes; let bindex = index;">
          <td>
            <h4 class="ui image header">
                <img *ngIf="container.photo" src="{{appUrl + container.photo}}" class="ui mini rounded image">
                <div class="content">
                  <div class="ui blue label">
                      <span>BOX: {{ box.full_position }}</span>
                  </div>
                  <div class="sub header"><small>CONTAINER: {{ container.name }}</small></div>
                </div>
            </h4>
          </td>
          <td>
              <div class="">            
                  <select class="ui dropdown fluid selection"
                  [attr.id]="box.full_position"
                  [ngModel]="container.pk" 
                  (change)="selectContainer(container.pk, box.full_position, bindex, $event)" #containerCtl>
                    <option 
                    [ngValue]="my_container.pk"
                    *ngFor="let my_container of my_containers"> 
                    {{my_container.name + ' (' + my_container.temperature + '&deg;C' + ', ' + my_container.room + ')'}}
                    </option>
                  </select>
                </div>
          </td>
          <td>
              <div class="four wide column ui form tiny small_vertial_padding">
                  <div class="ui inline fields">
                    <div class="field">
                      <select name="tower" class="ui fluid dropdown" (change)="display_shelf()" #tower>
                        <option *ngFor="let option of tower_options" value="{{option}}">{{option}}</option>
                      </select>
                    </div>
                    <!-- <div class="field" *ngIf="container_shelf">
                      <select name="shelf" class="ui fluid dropdown" (change)="display_box()" #shelf>
                        <option *ngFor="let option of shelf_options" value="{{option}}">{{option}}</option>
                      </select>
                    </div>
                    <div class="field" *ngIf="container_box">
                        <select name="box" class="ui fluid dropdown" (change)="move_box()" #shelf>
                          <option *ngFor="let option of shelf_options" value="{{option}}">{{option}}</option>
                        </select>
                    </div> -->
                  </div>                       
              </div>
          </td>
        </tr>
      </tbody>
  </table>
<div>