<div class="ui grid small_padding stackable">
  <div class="sixteen wide column">
    <app-container-box-navbar></app-container-box-navbar>
  </div>
</div>
<div class="ui grid row small_padding">
  <div class="ten wide column">
    <h3 class="ui violet left aligned header"><i class="icon add square"></i>CONTAINER ADD BOX(ES)</h3>
  </div>
  <div class="six wide column">
    <a class="ui teal button float-right" [ngClass]="{'disabled': adding == true }" [routerLink]="['/containers/overview', container.pk]"><i class="icon caret left"></i>BACK</a>
  </div>
</div>

<div class="ui container segments" *ngIf="adding==false">
    <div class="ui grid attached horizontal segments">
      <div class="ui ten wide column segment">
        <div class="ui center aligned positive message">
          <p>BOXES WILL BE ADDED TO THE FOLLOWING SLOTS</p>
        </div>
        <a class="ui label fix_label_width" 
          [ngClass]="{'disabled': box.is_excluded == true, 'green_bordered':  box.is_excluded != true }"
          *ngFor="let box of add_boxes; let bindex = index;" 
          (click)="toggleBox(box.box_full_position, bindex)">
            <i class="grid layout icon" [ngClass]="{'violet-text': box.is_excluded != true }"></i>
            <span class="">{{box.box_full_position}}</span>
        </a>
      </div>
      <div class="ui gird six wide column secondary segment">
        <div class="ui center aligned positive message">
          <p>BOX LAYOUT TO BE ADDED</p>
        </div>
        <div class="ui teal raised card">
          <div class="content">
            <div class="header">Box Layout (<span>{{box_horizontal}}X{{vArray.length}}</span>)</div>
            <div class="meta" *ngIf="allow_change_box_layout">
                <i class="announcement icon"></i>
                <span>Select the dropdowns below to change the layout. Please be aware of this: all the boxes in the same contaier should have the same layout!</span>
            </div>
            <div class="meta" *ngIf="allow_change_box_layout==false">
              <i class="announcement icon"></i>
              <span>Change is not allowed!</span>
            </div>
            <div class="description" *ngIf="allow_change_box_layout==false">
              <div class="ui form tiny small_vertial_padding">
                <div class="ui inline fields">
                  <div class="field">
                    <label>horizontal: </label>
                    <select name="horizontal" [(ngModel)]="box_horizontal" class="ui fluid dropdown" (ngModelChange)="updateLayout($event, 'horizontal')" #horizontalCtl>               
                      <option *ngFor="let option of genHorizontalOptions()" [ngValue]="option">{{option}}</option>
                    </select>
                  </div>
                  <div class="field">
                    <label>vertical: </label>
                    <select name="vertical" [(ngModel)]="box_vertical" class="ui fluid dropdown" (ngModelChange)="updateLayout($event, 'vertical')" #verticalCtl>               
                      <option *ngFor="let option of genVerticalOptions()" [ngValue]="option">{{option}}</option>
                    </select>
                  </div>
                </div>                       
              </div>
            </div>
          </div>
          <div class="">
            <table class="ui small unstackable celled single line fixed table">
              <thead>
                <tr>
                  <th class="nopadding"></th>
                  <th *ngFor="let h of hArray" class="left aligned nopadding"><small class="">{{h}}</small></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of vArray">
                  <th class="center aligned nopadding"><small class="">{{v}}</small></th>
                  <td class="center aligned sample-cell tight_around" *ngFor="let h of hArray">
                    <div class="fix_size_div">
                    </div>                   
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="ui violet inverted bottom attached button" (click)="save_add_box()">
      <p>Add Boxes To Contaier: {{container.name}}</p>
    </div>
  </div>

<!--adding info-->
<div *ngIf="adding==true" class="ui loading raised segment container center aligned">
    <br/><br/><br/><br/>
    <p class="brown-text">adding boxes ... </p>
</div>
