  <div *ngIf="box != null">
  <table class="ui small unstackable celled single line fixed table">
    <thead>
      <tr>
        <th class="nopadding"></th>
        <th *ngFor="let h of hArray" class="left aligned nopadding"><small class="">{{h}}</small></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of vArray">
        <th class="center aligned nopadding"><small class="">{{v}}</small></th>
        <td class="center aligned clickable sample-cell tight_around" *ngFor="let h of hArray">
          <div *ngFor="let sample of pickerSamples(h,v)" class="fix_size_div" [style.background-color]="genBackgroundColor(sample.color)">
            <!--<i class="icon circle tight_around" [style.color]="sample.color"></i>-->
          </div>                   
        </td>
      </tr>
    </tbody>
  </table>
</div>